/*  ------------------------------------------------------------  
    ------------------------------ HOJA ------------------------- 
    -------------------------------------------------------------  */

A.hoja-drill {
	text-decoration: none; 
	color: %col_sp_1%;
	font-weight: bold; 
	text-align: left;
	padding: 2;
}

TABLE.hoja-tabla {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
}

/*----------------------------- TITULOS -------------------------*/

.hoja-titulo
{
	font-weight: bold;
	font-size: 11px;
	color: %col_ss_6%;
	background-color: %col_sp_2%;
	text-align: left;
	padding: 5px 5px 5px 5px ;
}

TD.hoja-serie-nombre {
	font-weight: bold; 
	color: %col_ss_5%; 
	background-color: %col_sp_3%; 
	text-align: center;
}

TD.hoja-serie-nombre-b {
	font-weight: bold; 
	color: %col_ss_5%; 
	background-color: %col_sp_3%; 
	text-align: center;
	border-top: 1px solid %col_sp_1%;
	border-left: 1px solid %col_sp_1%;
	border-bottom: 1px solid %col_sp_1%;
	border-right: 1px solid %col_sp_1%;
}

TD.hoja-titulo-col {
	color: %col_sp_1%; 
	background-color: %col_sp_5%; 
	text-align: center;
	border-top: 1px solid %col_sp_2%;
	border-left: 1px solid %col_sp_2%;
	border-bottom: 1px solid %col_sp_2%;
	border-right: 1px solid %col_sp_2%;
}

/*------------------------------- DATOS ----------------------------*/

TD.hoja-dato-desc {
	color: %col_sp_1%;
	background-color: %col_sp_4%;
	font-weight: bold; 
	text-align: left;
	padding: 2;
	border-top: 1px solid %col_sp_2%;
	border-left: 1px solid %col_sp_2%;
	border-bottom: 1px solid %col_sp_2%;
	border-right: 1px solid %col_sp_2%;
}

TD.hoja-dato-desc2 {
	color: %col_sp_1%;
	background-color: %col_sp_4%;
	font-weight: bold; 
	text-align: center;
	padding: 2;
	border-top: 1px solid %col_sp_2%;
	border-left: 1px solid %col_sp_2%;
	border-bottom: 1px solid %col_sp_2%;
	border-right: 1px solid %col_sp_2%;
}

TD.hoja-dato-0 {
	color: %col_sp_1%; 
	background-color: %col_sn_6%; 
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid %col_sp_2%;
	border-left: 1px solid %col_sp_2%;
	border-bottom: 1px solid %col_sp_2%;
	border-right: 1px solid %col_sp_2%;
}

TD.hoja-dato-1 {
	color: %col_sp_1%;
	background-color: %col_ss_5%;
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid %col_sp_2%;
	border-left: 1px solid %col_sp_2%;
	border-bottom: 1px solid %col_sp_2%;
	border-right: 1px solid %col_sp_2%;
}

TD.hoja-dato-2 {
	color: %col_sp_1%;
	background-color: %col_sp_3%;
	text-align: right;
	padding: 2;
	border-top: 1px solid %col_sp_2%;
	border-left: 1px solid %col_sp_2%;
	border-bottom: 1px solid %col_sp_2%;
	border-right: 1px solid %col_sp_2%;
}

/*--------------------------------- TOTAL -----------------------------*/

TD.hoja-total-desc {
	color: %col_ss_5%;
	background-color: %col_sp_2%;
	text-align: left;
	font-weight: bold; 
	padding: 2;
	border-top: 1px solid %col_sp_2%;
	border-left: 1px solid %col_sp_2%;
	border-bottom: 1px solid %col_sp_2%;
	border-right: 1px solid %col_sp_2%;
}

TD.hoja-total-desc2 {
	color: %col_ss_5%;
	background-color: %col_sp_2%;
	text-align: center;
	font-weight: bold; 
	padding: 2;
	border-top: 1px solid %col_sp_4%;
	border-left: 1px solid %col_sp_2%;
	border-bottom: 1px solid %col_sp_2%;
	border-right: 1px solid %col_sp_2%;
}

TD.hoja-total-0 {
	color: %col_sp_1%;
	background-color: %col_ss_4%;
	text-align: right;	
	border-top: 1px solid %col_ss_1%;
	border-left: 1px solid %col_ss_1%;
	border-bottom: 1px solid %col_ss_1%;
	border-right: 1px solid %col_ss_1%;
}

TD.hoja-total-1 {
	color: %col_sp_1%;
	background-color: %col_ss_3%;
	font-weight: bold; 
	text-align: right;
	border-top: 1px solid %col_ss_1%;
	border-left: 1px solid %col_ss_1%;
	border-bottom: 1px solid %col_ss_1%;
	border-right: 1px solid %col_ss_1%;
}

/*----------------------------------------------------------------------*/

.hoja-texto-0 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: %col_sp_1%;
	TEXT-ALIGN: right;
}

.hoja-titulo {
	FONT-WEIGHT: normal;
	FONT-SIZE: 18px;
	COLOR: %col_sp_1%;
	TEXT-ALIGN: right;
}

