
TABLE.abm {
	background-color: %col_sp_6%;
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 2px solid %col_sp_1%;
	border-left: 2px solid %col_sp_1%;
	border-bottom: 2px solid %col_sp_1%;
	border-right: 2px solid %col_sp_1%;
}

TD.abm-titulo
{
	font-weight: bold;
	font-size: 11px;
	color: %col_ss_6%;
	background-color: %col_sp_2%;
	text-align: left;
	padding: 5px 5px 5px 5px ;
	border-top: 1px solid %col_sp_4%;
	border-left: 1px solid %col_sp_4%;
	border-bottom: 1px solid %col_sp_4%;
	border-right: 1px solid %col_sp_4%;
}

TD.abm-zona-botones
{
	font-weight: bold;
	font-size: 8px;
	color: %col_ss_6%;
	background-color: %col_sp_2%;
	text-align: right;
	padding: 3px 3px 3px 3px ;
	border-top: 1px solid %col_sp_1%;
	border-left: 1px solid %col_sp_1%;
	border-bottom: 1px solid %col_sp_1%;
	border-right: 1px solid %col_sp_1%;
}

TD.abm-fila
{
	font-size: 8px;
	color: %col_sp_1%;
	background-color: %col_ss_6%;
	text-align: left;
	padding: 0px 3px 0px 3px ;
	margin: 0px 0px 0px 0px ;
}

TD.abm-fila-ml
{
	font-size: 8px;
	color: %col_sp_1%;
	background-color: %col_ss_6%;
	text-align: center;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	/* border-right: 1px solid %col_sp_3%; */
}

TD.abm-columna
{
	font-size: 10px;
	color: %col_sp_1%;
	background-color: %col_sp_4%;
	text-align: center;
	padding: 2px 2px 4px 2px ;
	border-top: 1px solid %col_sp_2%;
	border-bottom: 1px solid %col_sp_2%;
	border-right: 1px solid %col_sp_3%;
}

TD.abm-total
{
	font-size: 10px;
	color: %col_sp_1%;
	background-color: %col_sp_5%;
	text-align: center;
	padding: 2px 0px 2px 0px ;
	border-top: 1px solid %col_sp_2%;
	border-bottom: 1px solid %col_sp_2%;
}

.abm-input-eliminar
{
	font-weight: bold;
	font-size: 11px;
	color: %col_sp_2%;
	background-color: %col_ss_3%;
/*
	border-top: 1px solid %col_sp_4%;
	border-left: 1px solid %col_sp_4%;
	border-bottom: 1px solid %col_sp_4%;
	border-right: 1px solid %col_sp_4%;
*/
}

.abm-input
{
	font-size: 11px;
	color: %col_sp_1%;
	background-color: %col_sn_6%;
/*	border-top: 1px solid %col_sp_4%;	border-left: 1px solid %col_sp_4%;	border-bottom: 1px solid %col_sp_4%;	border-right: 1px solid %col_sp_4%;*/
}
