/*------------------ ELEMENTOS de INTERFACE --------------------*/

TD.ei-cuerpo {
	vertical-align: top;
	font-size: 10px;
	color: %col_sp_6%;
	background-color: %col_sp_2%;
	text-align: left;
	padding: 2px 2px 2px 2px ;
}

TD.ei-base {
	font-size: 10px;
	color: %col_sp_5%;
	background-color: %col_sp_5%;
	text-align: left;
	padding: 4px 4px 4px 4px ;
}

TD.objeto-ci-barra-superior {
	font-weight: bold;
	font-size: 11px;
	color: %col_ss_6%;
	background-color: %col_sp_2%;
	text-align: left;
	padding: 3px 3px 3px 3px ;
/*	border-top: 1px solid %col_sp_4%;
	border-left: 1px solid %col_sp_4%;
	border-bottom: 1px solid %col_sp_4%;
	border-right: 1px solid %col_sp_4%;*/
}

TD.ci-cuerpo {
	font-size: 10px;
	color: %col_sp_1%;
	background-color: %col_sp_6%;
	text-align: left;
	padding: 10px 10px 10px 10px ;
}

TD.objeto-ei-barra-superior {
	font-weight: bold;
	font-size: 11px;
	color: %col_ss_6%;
	background-color: %col_sp_2%;
	text-align: left;
	padding: 3px 3px 3px 3px ;
}

.tabla-con-scroll {
	overflow: auto;
}

/*------------------ CALENDARIO --------------------*/

.year, .month {
	border-style: outset;
	background-color: #e4e4e4;
	text-align: center;
}
.year {	border-width: 1px; }
.yearname {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.monthname {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background-color: #DADADA;
	color: #5D5D5D;
	border-style: outset;
	border-width:1px
}
.dayname td {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background-color: #441177;
	color: #ffffff;
	border-style: outset;
	border-width:1px
}
.yearnavigation {
	font-size: 12px;
}
.datepicker {
	background-color: #e4e4e4;
}
.datepickerform {
	margin: 0px;
}
.monthnavigation {
	font-family: Tahoma, Arial, sans-serif;
}
.monthpicker, .yearpicker, .pickerbutton {
	font-size: 11px;
	background-color: #eeeeee;
}
.pickerbutton {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}
.nomonthday {
	height:20px;
	width:20px;
}
.nomonthdayevents {
	height:60px;
	width:60px;
}
.monthday, .weeknumber {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #384955;
	height:20px;
	width:20px;
}
.monthday {	background-color: #E4E4E4; }
.weeknumber { background-color: #f0f1ff; }
.monthdayevents, .weeknumberevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #384955;
	height:60px;
	width:60px;
	vertical-align: top;
}
.monthdayevents { background-color: #E4E4E4; }
.weeknumberevents { background-color: #f0f1ff; }
.today, .todayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #441177;
	color:#384955;
}
.today {
	height:20px;
	width:20px;
}
.todayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.selectedday, .selecteddayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #441177;
	background-color:#d9dbff;
}
.selectedday {	
	height:20px;
	width:20px;
}
.selecteddayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.sunday, .sundayevents {
	text-align: center;
	font-size: 11px;
	color: #667171;
}
.sunday {
	height:20px;
	width:20px;
}
.sundayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.sunday a, .saturday a {
	color: #667171;
}
.saturday, .saturdayevents {
	text-align: center;
	font-size: 11px;
	color: #667171;
}
.saturday{
	height:20px;
	width:20px;
}
.saturdayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.event, .eventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
}
.event {
	height:20px;
	width:20px;
}
.eventevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.event a {
	background-color: #ffff99;
	color: red;
}
.selectedevent, .selectedeventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
}
.seelctedevent {
	height:20px;
	width:20px;
}
.selectedeventevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.selectedevent a {
	background-color: #ffff99;
	color: red;
}
.todayevent, .todayeventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
}
.todayevent {
	height:20px;
	width:20px;
}
.todayeventevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.todayevent a {
	background-color: #ffff99;
	color: red;
}
.eventcontent {
	font-size: 9px;
	border-style: outset;
	border-width: 1px;
	width: 100%;
}
/*----------------------------------------------------------------*/