/*------------------------ ELEMENTOS de FORMULARIO ----------------------*/

TD.tabs-solapa {
	background-color: %col_sp_3%; 
	text-align: center;
	border-bottom: 2px solid %col_sp_4%;
	border-top: 2px solid %col_sp_4%;
	border-right: 2px solid %col_sp_4%;
	border-left: 2px solid %col_sp_1%;
	white-space: nowrap;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

.tabs-boton
{
	white-space: nowrap;
	font-size: 11px;
	color: %col_sp_1%;
	background-color: %col_sp_3%;
	border-top: 1px solid %col_sp_3%;
	border-left: 1px solid %col_sp_3%;
	border-bottom: 1px solid %col_sp_3%;
	border-right: 1px solid %col_sp_3%;
	padding: 3px 0px 0px 0px ;
}


TD.tabs-solapa-sel {
	background-color: %col_sp_3%; 
	text-align: center;
	border-top: 2px solid %col_sp_4%;
	border-right: 2px solid %col_sp_4%;
	border-left: 2px solid %col_sp_1%;
	border-bottom: 2px solid %col_sp_3%;
	white-space: nowrap;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

.tabs-boton-sel
{
	white-space: nowrap;
	font-weight: bold; 
	font-size: 11px;
	color: %col_sp_1%;
	background-color: %col_sp_3%;
	border-top: 1px solid %col_sp_3%;
	border-left: 1px solid %col_sp_3%;
	border-bottom: 1px solid %col_sp_3%;
	border-right: 1px solid %col_sp_3%;
	padding: 3px 0px 0px 0px ;
}

TD.tabs-solapa-hueco {
	border-bottom: 2px solid %col_sp_4%;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TD.tabs-contenedor {
	background-color: %col_sp_3%; 
	text-align: center;
	border-right: 2px solid %col_sp_4%;
	border-left: 2px solid %col_sp_1%;
	border-bottom: 2px solid %col_sp_1%;
	padding: 10px 7px 10px 7px ;
	margin: 0px 0px 0px 0px ;
}

TABLE.objeto-base-3d {
	text-align: center;
	align: center;
	border-collapse: collapse;
	background-color: %col_sp_1%;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 5px 0px ;
	font-size: 10px;
	border-top: 2px solid %col_sp_1%;
	border-left: 2px solid %col_sp_1%;
	border-bottom: 2px solid %col_sn_2%;
	border-right: 2px solid %col_sn_4%;
}

