
#descripcion {
  width: 500px; 
  float:left; 
  margin-left: 30px;
  margin-top: 20px;
  font-size: 110%;
  line-height: 140%;
}
#descripcion img {
  width: 128px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid lightGray;
  border-right: 1px solid lightGray;
  opacity: 0.45;
  -moz-opacity: 0.45;
  filter:alpha(opacity=45);
}
#descripcion img:hover {
opacity: 1;
-moz-opacity: 1;
filter:alpha(opacity=99);
}
#descripcion table {
margin-left: 30px;
margin-top: 30px;
}

#descripcion td {
  padding:5px;
  text-align:center;
  font-size: 75%;
  color: #4444444;
}
#descripcion td a {
  border-bottom: none;
}

#botonera {
	padding: 0px;
	list-style: none;
	margin-left: 50px;
	float:left;
}

#botonera li {
	display: block;
	margin-bottom: 21px;
}

#botonera li a {
	display: block;
	width: 348px;
	color: white;
	font-size: 0.8em;
	text-decoration: none;
	background-image: url(/trac/toba/chrome/site/borde_medio.png);
	background-repeat: repeat-y;
	border-bottom: none;
}

#botonera li a span.top, #botonera li a span.bottom {
	display: block;
	height: 10px;
	width: 350px;
	background-repeat: no-repeat;
}

#botonera li a span.top {
	float: left;
	background-image: url(/trac/toba/chrome/site/borde_arriba.png);
}

#botonera li a span.bottom {
	background-image: url(/trac/toba/chrome/site/borde_abajo.png);
}

#botonera li a span.boton {
	display: block;
	float: left;
	padding: 5px 20px 50px 130px;
	background-position: 10px 0px;
	background-repeat: no-repeat;
}

#botonera li a .titulo {
  display:block;
  font-size:180%;
  font-weight:bold;
}

#botonera #descargar a {
	background-color: #105653;
}

#botonera #descargar a:hover {
	background-color: #77828c;
}

#botonera #descargar .boton {
	background-image: url(/trac/toba/chrome/site/boton_descargar.png);
	background-position: 30px 10px;
}

#botonera #documentacion a {
	background-color: #3D0032;
}

#botonera #documentacion a:hover {
	background-color: #77828c;
}

#botonera #documentacion .boton {
	background-image: url(/trac/toba/chrome/site/boton_ayuda.png);
	background-position: 30px 10px;
}

#botonera #desarrollo a {
	background-color: #3D0032;
}

#botonera #desarrollo a:hover {
	background-color: #77828c;
}

#botonera #desarrollo .boton {
	background-image: url(/trac/toba/chrome/site/boton_desarrollo.png);
	background-position: 30px 10px;
}

.right {
	float: right;
	clear: right;
}

.left {
	float: left;
}


.clear {
	display: block;
	float: none;
	clear: both;
}

#altlinks {
    display:none;
    }
    
