instalacion/
vendor/
.buildpath
.settings/*

.log.git
.files.git
*.iml
*.env
*.yml
nbproject/
www/js/packages/
bin/jsonlint
bin/phpdoc
bin/phpdoc.php
bin/validate-json
.files.svn
.log.svn
.svn/*
.project
.directory
metadatos_compilados/
temp/
xlib
composer.lock
