instalacion/
vendor/
.buildpath
.settings/
.log.git
.files.git
*.iml
*.env
*.yml
nbproject/
www/js/packages/
bin/jsonlint
bin/phpdoc
bin/phpdoc.php
bin/validate-json
.files.svn
.log.svn
.svn/*
.project
.directory
temp/
xlib
composer.lock
www/siu/
arai.lock
.yarnclean
yarn.lock
bin/arai-cli
node_modules/
proyectos/toba_referencia/www/siu/
proyectos/toba_referencia/metadatos_compilados/