pgdata:
  image: postgres:9.4
  command: "true"
  volumes:
#Comentar la siguiente linea para corregir permisos en OSX  
   - ./docker-data/pgdata:/var/lib/postgresql/data

   - ./docker-data/toba:/var/local/docker-data/toba

web:
  image: siutoba/docker-toba
  ports:
   - "2020:80"
  env_file: docker.env
  environment:
## Descomentar y definir para cagar/instalar un proyecto especifico o instalar toba en un path dado  
#    TOBA_DIR: /var/local/toba
#    TOBA_INSTALACION_DIR: /var/local/toba/docker-data/instalacion
#    TOBA_PROYECTO                     : miproyecto
#    TOBA_BASE_NOMBRE                  : toba
#    TOBA_PROYECTO_DIR                 : /var/local/toba/proyectos/miproyecto
#    TOBA_PROYECTO_ALIAS               : /miproyecto
#    TOBA_PROYECTO_INSTALAR            : "true"
#    TOBA_PROYECTO_INSTALAR_PARAMETROS : --base-nombre miproyecto
  links:
   - pg
## Activar este link si se desea utilizar el servidor de Jasper
#   - jasper
## Descomentar esta variable de entorno para corregir permisos en OSX
#   OSX: 1
  volumes_from:
   - pgdata
  volumes:
   - ./:/var/local/toba

# Descomentar este bloque si se desea utilizar el servidor Jasper (Por ahora esta sin testear)
#jasper:
##  build: jasper/
#  image: siutoba/docker-guarani-jasper
#  links:
#   - pg
#  volumes:
#   - ./:/var/local/toba

pg:
  image: postgres:9.4
  ports:
   - "4432:5432"
  environment:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
  volumes_from:
   - pgdata
