#menu-h {
	left:-100px;
}
#zona_zona_tutorial .zona-items {
	text-align: center;
	float:none;
	background-color: transparent;
	border: none;
}
a {
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#php-referencia-cont {
	bottom: 0;
	right: 0;
	position: fixed;
	background-color:white;
	border: 1px solid black;
	padding: 5px;
}
.php-referencia {
	background-color:white;
	border: 1px solid black;
	padding: 5px;

}