/** Cambios al skin **/
/*.encabezado {
	margin-bottom:0;
}
.cuerpo {
	margin-top: 0;
}
.ci-base {
	background-color:transparent;
	border:0px;	
	width: 100% !important;
}
.ci-tabs-h-cont, .ci-wiz-cont, .ci-simple-cont {
	background-color: #EEEFF2;
}

.ci-simple-cont .ei-base {
	margin-left: auto;
	margin-right: auto;
}


.ci-base {
	width: 100% !important;
}
.ci-simple-cont .ei-base {
	margin-left: auto;
	margin-right: auto;
}

#js_ci_30000140_cont {
	width: auto !important;
}
*/
/*******************/


#menu-h {
	left:-100px;
}

#zona_zona_tutorial .zona-items {
	text-align: center;
	float:none;
	background-color: transparent;
	border: none;
}


a {
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#php-referencia-cont {
	bottom: 0;
	right: 0;
	position: fixed;
	background-color:white;
	border: 1px solid black;
	padding: 5px;
}
.php-referencia {
	background-color:white;
	border: 1px solid black;
	padding: 5px;
	font-size: 11px;
}

#flashcontent {
	text-align:center;
}

.screenshot {
	display:block;
	margin: 10px 0px 10px 50px;
}
.screenshot img {
	border: 1px outset gray;			
}
.tutorial-agenda {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
.tutorial-agenda ol {
}
.tutorial-agenda li {
	padding-top: 10px;
}
.tutorial-agenda a {
	font-size: 16px;
}
