.year {
	border-style: outset;
	border-width: 1px;
	background-color: #e4e4e4;
	text-align: center;
}
.month {
	border-style: none;
	background-color: #e4e4e4;
	text-align: center;
}
.yearname {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.monthname {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background-color: #DADADA;
	color: #5D5D5D;
	border-style: outset;
	border-width:1px
}
.monthnameevents {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background-color: #DADADA;
	color: #5D5D5D;
	border-style: outset;
	border-width:1px
}
.dayname td {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background-color: #3E97CF;
	color: #ffffff;
	border-style: outset;
	border-width:1px
}
.yearnavigation {
	font-size: 12px;
}
.datepicker {
	background-color: #e4e4e4;
}
.datepickerform {
	margin: 0px;
}
.monthnavigation {
	font-family: Tahoma, Arial, sans-serif;
}
.monthpicker {
	font-size: 11px;
	background-color: #eeeeee;
}
.yearpicker {
	font-size: 11px;
	background-color: #eeeeee;
}
.pickerbutton {
	font-size: 11px;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}
.nomonthday {
	height:20px;
	width:20px;
}
.nomonthdayevents {
	height:60px;
	width:60px;
}
.monthday {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color: #E4E4E4;
	color: #384955;
	height:20px;
	width:20px;
}
.monthdayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color: #E4E4E4;
	color: #384955;
	height:60px;
	width:60px;
	vertical-align: top;
}
.today {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color: #5CB5C7;
	color: #ffffff;
	height:20px;
	width:20px;
}
.todayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color: #5CB5C7;
	color: #ffffff;
	height:60px;
	width:60px;
	vertical-align: top;
}
.selectedday {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color:#FFFFCC;
	height:20px;
	width:20px;
}
.selecteddayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color: #66ff66;
	height:60px;
	width:60px;
	vertical-align: top;
}
.sunday {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #667171;
	height:20px;
	width:20px;
}
.sundayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #667171;
	height:60px;
	width:60px;
	vertical-align: top;
}
.sunday a {
	color: #667171;
}
.saturday {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #667171;
	height:20px;
	width:20px;
}
.saturdayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #667171;
	height:60px;
	width:60px;
	vertical-align: top;
}
.saturday a {
	color: #667171;
}
.event {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:20px;
	width:20px;
}
.eventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:60px;
	width:60px;
	vertical-align: top;
}
.event a {
	background-color: #ffff99;
	color: red;
}
.selectedevent {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:20px;
	width:20px;
}
.selectedeventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:60px;
	width:60px;
	vertical-align: top;
}
.selectedevent a {
	background-color: #ffff99;
	color: red;
}
.todayevent {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:20px;
	width:20px;
}
.todayeventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:60px;
	width:60px;
	vertical-align: top;
}
.todayevent a {
	background-color: #ffff99;
	color: red;
}
.eventcontent {
	font-size: 10px;
	border-style: outset;
	border-width: 1px;
	width: 100%;
}
