/*** CAMBIO DE COLORES **/
td.header-menu{ 
	background-color: #20BE41; 
	border-color: #333366;
}
.evenrow, .oddrow{ 
	border-color: #20BE41;
}
.info-box-title{  
	border-color: #20BE41; 
}
.function { 
	background-color: #E0E0E0;
}
td.class-overview { 
	background-color: #F0F0F0; 
	border-color: #D0D0D0; 
}
.menu { 
	background-color: #F0F0F0;
	border-color: #20BE41;
}
.class-table-header { 
	border-color: #666666 
}
#topdiv { 
	background-color: #F6F2F6; 
}
.package-title{ 
	border-color: #20BE41;
}
div.method-summary { 
	border-color: #666699;
}
.arbol-herencia {
	padding-left: 30px;
}
.arbol-herencia li {
	list-style-type: square;
}