
body {
	background-color: #244268;
}
form {
}
.tabla-0 {
	width: 100%;
}


.encabezado {
	background-color: white;
	margin-bottom: 0;
	padding-bottom: 1px;
	border-bottom: 5px solid #53689f;
}
#barra_superior {
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.5, #5368a1),
	    color-stop(0.5, #244268)
	);
	background-image: -moz-linear-gradient(
	    center top,
	    #5368a1 50%,
	    #234068 50%
	);		
	border: #082d5a 1px solid ;
	border-bottom: 1px solid #002556;
	color: white;
	min-height: 38px;
}
.ef-barra-divisora {
	border-bottom:1px dotted gray;
	text-align: right;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 11px;
}

.zona-items {
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.5, #5368a1),
	    color-stop(0.5, #244268)
	);
	background-image: -moz-linear-gradient(
	    center top,
	    #5368a1 50%,
	    #244268 50%
	);		
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: #082d5a 1px solid ;
	border-bottom: 1px solid #4c6385;
	color: white;
	padding: 0;
	margin-right: 5px;
	margin-top:5px;	
}
.zona-items a {
	border-left:1px solid #143568;
	width: 24px;
	display: block;
	float: left;
	text-align: center;
	padding: 3px;	
}
.item-barra {
	margin-top: 8px;
}
.item-barra-tit {
	font-size: 13px;
}
.item-barra-ayuda {
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #bfc9d5;
	margin-right: 5px;
}
.zona-barra-id {
	color: #ddd;
}
.zona-barra-desc {
	font-size: 14px;
}

#enc-logo {
	background-color: #D0D5DB;	
}

/*************************
		Login
**************************/

.cuerpo {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}
.login-titulo {
	background-color: white;
}
.login-pie {
	margin-top: 0;
	padding-top: 15px;
	padding-bottom: 5px;
	color: white;
}
.login-pie a {
	color: white;
	font-weight: bold;
}

/*************************
		EI
**************************/
.ei-barra-sup-sin-tit {
	margin-bottom: -25px;
}
.ei-barra-sup {
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.5, #7485b3),
	    color-stop(0.5, #5368a1)
	);
	background-image: -moz-linear-gradient(
	    center top,
	    #7485b3 50%,
	    #5368a1 50%
	);
	border: 1px solid #5268a1;
	color: white;

}
.ei-barra-sup-sin-tit .ei-botonera {
	background-color: #244268;
}
.ei-barra-sup-desc-info, .ci-wiz-enc {
	color: #000000;
	background-color: #ecf0f3 !important;
	border:1px dotted #ccc;	
}
.ei-barra-sup-desc-warning, .ci-pant-desc-warning {
	background-color: #FFFFE1;
	border: 1px solid #B7C8F6;
}
.ei-barra-sup-desc-error, .ci-pant-desc-error {
	background-color: #F1D3D9;
	border: 1px solid #B7C8F6;
}


/***************** 
		CI
******************/
.ei-base {
	background-color: white;
}
.ci-base {
	border-radius: 6px;
	-moz-border-radius: 6px;	
	-webkit-border-radius: 6px;	
}
.ci-barra-sup {
		background: transparent;
		background-color: #244268;
		border: 0;
		font-weight: bold;
		color:white;
		font-size: 14px;
}
.ci-barra-sup .ei-barra-sup-tit {
	font-size: 14px;
}
.ci-cuerpo {
	padding: 0;
}
.ci-tabs-h-lista {
	margin-left: -3px;
	width:105%;
	background-color: #244268;
	
}
.ci-tabs-h-lista ul {
	margin-left: 0;
}
.ci-tabs-h-cont {
	background-color: white;
}
.ci-tabs-h-lista li {
	padding-left: 0;
	
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;	
	-webkit-border-radius: 6px 6px 0 0;	
		
}
.ci-tabs-h-solapa {
	border-left: 1px solid #576ca5;
	border-right: 1px solid #244268;
	border-top: 1px solid #244268;
	border-bottom: 1px solid #7284aa;
	
	background-image: -moz-linear-gradient(
	    center top,
	    #7386b1 50%,
	    #53689f 50%
	);
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.5, #7386b1),
	    color-stop(0.5, #53689f)
	);		
}
.ci-tabs-h-solapa a {
	color:white;
	min-height: 16px;
}

.ci-tabs-h-solapa-sel {
	border: 1px solid white;
}
.ci-tabs-h-solapa-sel {
	color: #224086;
	background-image: -moz-linear-gradient(
	    center top,
	    #e9e9e9 50%,
	    #ffffff 50%
	);
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.5, #e9e9e9),
	    color-stop(0.5, #ffffff)
	);
}
.ci-botonera {
	border-top: 1px solid #ddd;
	margin-left: 4px;
	margin-right: 4px;
	padding: 8px 4px 8px 4px;
}



/*************************
	WIZARD
*****************************/
.ci-wiz-enc {
	background-color:#244268;
	color: white;
	font-size: 14px;
	padding-bottom: 10px;	
}
.ci-pant-sep {
	display: none;
}
.ci-wiz-cont {
	padding: 0;
}  
.ci-wiz-toc {
	padding: 0;
}
.ci-wiz-titulo {
	color: black;
}
/********************************
	ML - Cuadros
*********************************/
.ei-ml-fila, .ei-ml-fila-selec, .ei-filtro-fila, .ei-filtro-fila-selec {
	border-bottom:1px solid #ECF0F3;
	border-right:1px solid #859BC4;
	margin-right:3px;
	padding:2px 5px 2px 5px;	
}
.ei-ml-base {
	border:1px solid #859BC4;
	border-left:1px solid #859BC4;
	border-right:1px solid #859BC4;
}	
.ei-ml-grilla, .ei-filtro-grilla  {
	margin: 0;
}

/********************************
	OVERLAY
********************************/
#overlay_contenido {
     background-color: #fafbfe;
     border:1px solid #868789;     
}
.overlay-titulo {
	border-bottom: 1px solid #868789;	
}
.overlay-botonera {
	border-top: 1px solid #868789;
}


/****************************
	VARIOS
*****************************/
.editor-vista-previa-codigo {
		width: auto !important;
}	
