.ei-barra-sup-sin-tit {
	background-color: white;
}
.ei-barra-sup {
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.5, #7485b3),
	    color-stop(0.5, #5368a1)
	);
	background-image: -moz-linear-gradient(
	    center top,
	    #7485b3 50%,
	    #5368a1 50%
	);
	border: 1px solid #5268a1;
	color: white;

}
