<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

  <!--! Add site-specific style sheet -->
  <head py:match="head" py:attrs="select('@*')">
    ${select('*|comment()|text()')}
    <script type="text/javascript" src="/trac/toba/chrome/site/mootools.js"></script>
    <script type="text/javascript" src="/trac/toba/chrome/site/slimbox.js"></script>
    <link rel="stylesheet" href="/trac/toba/chrome/site/portada.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/trac/toba/chrome/site/slimbox.css" type="text/css" media="screen" />
    <a style='position: absolute; top: 5px; left:5px;border-bottom:none !important;' href="/trac/toba"><img src="/trac/toba/chrome/site/logo_toba_siu.gif" width="282" height="90" alt="Toba" /></a>
    
    <link rel="stylesheet" type="text/css" href="${href.chrome('site/style.css')}" /> 
  </head>

  <body py:match="body" py:attrs="select('@*')">

<a style='position: absolute; top: 5px; left:5px;border-bottom:none !important;' href="/trac/toba"><img src="/trac/toba/chrome/site/logo_toba_siu_original.gif" width="282" height="90" alt="SIU-Toba" /></a>

    <!--! Add site-specific header -->
    <div id="siteheader">
      <!--! Place your header content here... -->
    </div>

    ${select('*|text()')}

    <!--! Add site-specific footer -->
    <div id="sitefooter">
      <!--! Place your footer content here... -->
    </div>
<script type='text/javascript'>
	var dominio = 'http://desarrollotoba.siu.edu.ar';
if (document.getElementById('link_php')) {
document.getElementById('link_php').onclick = function() {
    location.href = dominio + '/toba_editor_trunk/doc/api/index.html';
    return false;
}
document.getElementById('link_js').onclick = function() {
    location.href = dominio + '/toba_editor_trunk/doc/api_js/index.html';
    return false;
}
document.getElementById('link_wiki').onclick = function() {
    location.href = '/trac/toba/wiki/Referencia';
    return false;
}
}

</script>
  </body>
</html>
