td.ccLineNumber, td.ccCoveredLine, td.ccUncoveredLine, td.ccNotExecutableLine {
  font-family: monospace;
  white-space: pre;
}

td.ccLineNumber, td.ccCoveredLine {
  background-color: #aaaaaa;
}

td.ccNotExecutableLine {
  color: #aaaaaa;
}
