body {
	background-color: #E3E3E3;
}
.encabezado {
 color:black;
}
.enc-version {
}
ul.horizontal a, ul.horizontal a:visited {
	background: #fafbfe;
	border:1px solid #8d8e90;
	margin-right:2px;
}
a.nivel-0, a.nivel-0:visited {
	background-color: #E3E3E3 !important;
	border:none !important;
}
ul.horizontal a:hover, ul.horizontal a:focus, ul.horizontal a.rollover, ul.horizontal a.rollover:visited {
	background:#7176b0;
	color: white;
}
a.nivel-0:hover, a.nivel-0:focus, a.nivel-0.rollover, a.nivel-0.rollover:visited {
	background-color: #E3E3E3 !important;
	border:1px solid #8d8e90 !important;
	color: black !important;
}
.ei-boton {
 margin-right: 3px;
}
.barra-superior {
	color:white;
	border-top: 1px solid black;
	border-bottom: 1px solid #5C5F9E;
}
.barra-superior-tit {
	min-height: 30px;
}
.zona-barra-id {
	color:white;
}
.zona-items {
	background-color:#EEEFF2;
}
.zona-items a {
	color:#cccccc;
}
.zona-items a:hover, .zona-items a:focus, .zona-items a.rollover, .zona-items a.rollover:visited {
	color: white;
}

.ci-tabs-h-lista {
	background-color: #E3E3E3;
}
.ci-tabs-h-cont, .ci-wiz-cont {
	background-color: #EEEFF2;
}
.ci-wiz-cont {
	border: 1px solid gray;	
}
.ei-barra-sup {
 	background-color: #5A5E9D;
}
.ei-barra-sup .barra-redondeada-cont {

}
.ei-cuadro-fila-sel, .ei-ml-fila-selec {
	padding-top:2px;
	padding-bottom:2px;
	background-color: #5A5E9D;
	color:white;
}

.ci-barra-sup {
}
.ci-simple-cont {
	border: 1px solid gray;
	background-color: #EEEFF2;
	padding: 2px;
}
.ci-botonera {
	background-color: #5A5E9D;	
}
.ei-barra-sup-tit {
	color:white;
	font-size: 11px;
}
.ci-barra-sup .ei-barra-sup-tit {
	font-size:12px;
}
.ci-tabs-h-lista ul {
	margin:0;
	padding:0;
	margin-left: -1px;
}

.ci-tabs-h-cont {
	border-left: 1px solid #868789;
	border-right: 1px solid #868789;
	border-bottom: 1px solid #868789;
}
.ci-tabs-h-lista a {
	color:#000;
	font-weight:normal;	
	font-family: Tahoma;
	font-size: 11px;
}
.ci-tabs-h-lista a:hover {
	color:#000;

}
.ci-tabs-h-solapa-sel a {
	color:#000;
}


#overlay_contenido {
     background-color: #fafbfe;
     border:1px solid #868789;     
}
.overlay-titulo {
	border-bottom: 1px solid #868789;	
}
.overlay-botonera {
	border-top: 1px solid #868789;
}


