body 
{ 
	background-color: #EEEEEE; 
	margin: 0px; 
	padding: 0px;
}

/* Banner (top bar) classes */

.banner {  }

.banner-menu 
{ 
	padding: .5em;
	border-top: 2px solid #AAAAAA;	
	float: right;
}

.banner-title 
{ 
	text-align: right; 
	font-size: 20pt; 
	font-weight: bold; 
	margin: .2em;
	text-align: center;
}
.banner-logo
{
	float: left;
}

.package-selector 
{ 
	background-color: #DDDDDD; 
	color: #000090;
}
