TD.arbol-titulo {
	font-size: 12px;
	color: #E5F1F6;
	font-weight: bold;
	background-color: #0077AA;
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
	padding: 8,4,4,10;
}

TD.arbol-cuerpo {
	color: #E5F1F6;
	background-color: #3392BB;
	text-align: center;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
	padding: 1,1,1,1;
}

TD.arbol-etiqueta1 {
	padding: 0,5,2,5;
	font-weight: bold;	
	font-size: 10px;
	text-align: left;
	color: #0077AA;
	background-color: #99C9DD;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 4px solid #0077AA;
}

TD.arbol-etiqueta2 {
	padding: 0,5,2,5;
	font-size: 10px;
	font-weight: bold;
	color: #E5F1F6;
	background-color: #66ADCC;
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 4px solid #0077AA;
}

TD.arbol-valor {
	padding: 0,3,0,3;
	font-size: 10px;
	color: #0077AA;
	background-color: #ffffff;
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.arbol-valor-array {
	padding: 3,3,3,3;
	font-size: 10px;
	color: #0077AA;
	font-weight: bold;
	background-color: #FFDDBB;
	text-align: center;
	border-top: 2px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}


TD.arbol-valor-objeto {
	padding: 0,3,0,3;
	font-size: 10px;
	color: #E5F1F6;
	background-color: #D65932;
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}


TD.arbol-valor-null {
	padding: 0,3,0,3;
	font-size: 10px;
	color: #E5F1F6;
	background-color: #0077AA;
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}/*------------------ BARRA principal (ITEM) --------------------*/

TD.barra-0 {
	font-size: 10px;
	color: #E5F1F6;
	background-color: #3392BB;
	text-align: right;
}

TD.barra-0-edit {
	font-size: 10px;
	font-weight: bold;
	background-color: #0077AA;
	padding: 2px 2px 2px 2px ;
	text-align: right;
	border-bottom: 1px solid #3392BB;
}

TD.barra-0-tit {
	font-weight: bold;
	font-size: 12px;
	color: #E5F1F6;
	background-color: #3392BB;
	text-align: right;
}

/*-------------- sub BARRA EDICION Objetos --------------------*/


TD.barra-obj-id {
	font-size: 12px;
	color: #0077AA;
	font-weight: bold;
	background-color: #FE9B6B;
	padding: 2px 2px 2px 2px ;
	text-align: right;
	border-bottom: 1px solid #3392BB;
}

TD.barra-obj-leve {
	font-size: 11px;
	color: #3392BB;
	background-color: #CCE4EE;
	text-align: left;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
}

TD.barra-separador {
	font-size: 11px;
	color: #0077AA;
	background-color: #CCE4EE;
	font-weight: bold;
	text-align: left;
	padding: 5px 5px 5px 5px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
}

TD.barra-obj-tit1 {
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
	color: #3392BB;
	background-color: #99C9DD;
	text-align: left;
}

TD.barra-obj-tit {
	font-size: 11px;
	color: #3392BB;
	background-color: #FFDDBB;
	text-align: left;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
}

TD.barra-obj-link {
	font-size: 10px;
	color: #0077AA;
	background-color: #E5F1F6;
	padding: 2px 2px 2px 2px ;
	text-align: left;
	border-bottom: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.barra-obj-io {
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	font-weight: bold;
	padding: 6px 10px 6px 10px;
	font-size: 12px;
	color: #0077AA;
	background-color: #99C9DD;
	text-align: left;
}

/*---------------- sub BARRA EDICION Items --------------------*/

TD.barra-item-id {
	font-size: 11px;
	color: #0077AA;
	font-weight: bold;
	background-color: #FE9B6B;
	padding: 2px 2px 2px 2px ;
	text-align: left;
	border-bottom: 1px solid #3392BB;
}

TD.barra-item-tit {
	font-size: 11px;
	color: #0077AA;
	background-color: #FFDDBB;
	text-align: left;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
}

TD.barra-item-link {
	font-size: 10px;
	color: #E5F1F6;
	padding: 2px 2px 2px 2px ;
	text-align: right;
	border-bottom: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.barra-item-link2 {
	font-size: 10px;
	color: #D65932;
	padding: 2px 2px 2px 2px ;
	text-align: right;
	border-bottom: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}
/*----------------------------------------------------------------*//***************************************************************************/
/********************************   GENERAL   ******************************/
/***************************************************************************/


body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #E5F1F6;
}

body.lista {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #3392BB;
}


body.control {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #0077AA;
}

/*----------------------------< tipo de ALINEACION >------------------------*/

A.basico {
	text-decoration: none; 
	color: #0077AA; 
/*	font-size: 10px;*/
}	


/*----------------------------< tipo de ALINEACION >------------------------*/

.num {	text-align: right;	}
.tex { 	text-align: left;		}
.cen {	text-align: center;	}

/*------------------------------< tipo de BORDE >---------------------------*/

.borde-0 {
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

.borde-1 {
	border-top: 2px solid #3392BB;
	border-left: 2px solid #3392BB;
	border-bottom: 2px solid #3392BB;
	border-right: 2px solid #3392BB;
}

.borde-especial {
	border-top: 1px dashed #3392BB;
	border-left: 1px dashed #3392BB;
	border-bottom: 1px dashed #3392BB;
	border-right: 1px dashed #3392BB;
}

/***************************************************************************/
/************************** ELEMENTOS BASICOS ******************************/
/***************************************************************************/

.txt-info {
	PADDING-RIGHT: 5px;
	 PADDING-LEFT: 5px;
	 PADDING-BOTTOM: 5px;
	 PADDING-TOP: 5px;
	 FONT-SIZE: 11px;
	 COLOR: %col_sn_0%;
	 BACKGROUND-COLOR: #ffffff;
	 TEXT-ALIGN: left
}
/*-------------------------------- MENU -----------------------------*/

TD.menu-0 {
	font-size: 10px;
	color: #0077AA;
	background-color: #99C9DD;
	text-align: left;
}

TD.menu-1 {
	font-size: 10px;
	color: #0077AA;
	background-color: #99C9DD;
	text-align: right;
}

/*-------------------------------- MENSAJES -----------------------------*/

/*--------- info -------*/

TABLE.mensaje-info {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
	border-top: 3px solid #0077AA;
	border-left: 3px solid #0077AA;
	border-bottom: 3px solid #0077AA;
	border-right: 3px solid #0077AA;
}

TD.mensaje-titulo-info {
	font-size: 12px;
	color: #E5F1F6;
	background-color: #3392BB;
	text-align: right;
	font-weight: bold;
	padding: 5px 10px 3px 10px ;
}

TD.mensaje-subtitulo-info {
	font-size: 11px;
	color: #99C9DD;
	background-color: #3392BB;
	text-align: left;
	padding: 0px 0px 5px 5px ;
}

TD.mensaje-cuerpo-info {
	font-size: 12px;
	color: #0077AA;
	background-color: #ffffff;
	text-align: left;
	padding: 15px 10px 15px 10px ;
}

/*--------- error -------*/

TABLE.mensaje-error {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
	border-top: 3px solid #990000;
	border-left: 3px solid #990000;
	border-bottom: 3px solid #990000;
	border-right: 3px solid #990000;
}

TD.mensaje-titulo-error {
	font-size: 12px;
	color: #ffffff;
	background-color: #FF411B;
	text-align: right;
	font-weight: bold;
	padding: 5px 10px 3px 10px ;
}

TD.mensaje-subtitulo-error {
	font-size: 11px;
	color: #CCCCDD;
	background-color: #FF411B;
	text-align: left;
	padding: 0px 0px 5px 5px ;
}

TD.mensaje-cuerpo-error {
	font-size: 12px;
	color: #990000;
	background-color: #ffffff;
	text-align: center;
	padding: 15px 10px 15px 10px ;
}

/*------------------------------< tipo de TABLA >---------------------------*/

TABLE.tabla-0 {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
}

TD.celda-vacia {
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	vertical-align: top;
}

TABLE.tabla-1 {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 11px;
}

TABLE.tabla-2 {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 12px;
}

/*------------------------------< PORTADA >---------------------------*/

TD.portada-titulo {
	font-size: 18px;
	color: #3392BB;
	text-align: center;
	font-weight: bold;
	padding: 5px 10px 5px 10px ;
}

TD.portada-comentario {
	font-size: 10px;
	color: #66ADCC;
	text-align: center;
}

/*-----------------------------<  PARRAFO  >-------------------------------*/

.texto-ss {
 	font-family: Courier,Courier New,  mono;
 	text-align: left;		
	font-size: 9px;
}

.texto {
	color: #0077AA;
 	text-align: left;		
	font-size: 12px;
}

.texto-2 {
	color: #990000;
 	text-align: left;		
	font-size: 12px;
}

/*-----------------------------<  CRONOMETRO  >-------------------------------*/


TD.cron-base {
	font-weight: bold; 
	color: #FFFFF1; 
	background-color: #99C9DD; 
	text-align: left;
	padding: 2px 1px 2px 0px ;
	border-bottom: 1px dashed #E5F1F6;
}

TD.cron-nucleo {
	font-weight: bold; 
	color: #FFFFF1; 
	background-color: #D65932; 
	text-align: left;
	border-top: 1px solid #E5F1F6;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.cron-objeto {
	font-weight: bold; 
	color: #FFFFF1; 
	background-color: #FE9B6B; 
	text-align: left;
	border-top: 1px solid #E5F1F6;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.cron-item {
	font-weight: bold; 
	color: #FFFFF1; 
	background-color: #990000; 
	text-align: left;
	border-top: 1px solid #E5F1F6;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.cron-lib {
	font-weight: bold; 
	color: #FFFFF1; 
	background-color: #FFDDBB; 
	text-align: left;
	border-top: 1px solid #E5F1F6;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.cron-basura {
	font-weight: bold; 
	color: #FFFFF1; 
	background-color: #99C9DD; 
	text-align: left;
	border-top: 1px solid #E5F1F6;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

/*---------------------------------------------------------------------------------------
----------------------------------< Estilos de columnas >----------------------------
---------------------------------------------------------------------------------------
Estos son los elementos referenciados desde apex_columna_estilo
*/

/*-- Numericos */

TD.col-num-p1 {
	color: #0077AA;
	background-color: #ffffff;
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.col-num-p2 {
	color: #0077AA;
	background-color: #E5F1F6;
	text-align: right;
	padding: 2;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.col-num-p3 {
	color: #0077AA;
	background-color: #FFFFF1;
	text-align: right;
	padding: 2;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.col-num-p4 {
	color: #0077AA; 
	background-color: #D65932; 
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

/*-- Texto */

TD.col-tex-p1 {
	color: #000011;
	background-color: #ffffff;
	text-align: left;
	padding: 2;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}


TD.col-tex-p2 {
	color: #990000;
	background-color: #ffffff;
	font-weight: bold; 
	text-align: left;
	padding: 2;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.col-tex-p3 {
	color: #0077AA;
	background-color: #CCE4EE;
	padding: 2;
	text-align: left;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

/*-- Especiales (centradas) */

TD.col-cen-s1 {
	color: #0077AA;
	background-color: #D65932;
	text-align: center;
	padding: 2;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}


TD.col-cen-s2 {
	color: #FEFFDF;
	background-color: #66ADCC;
	text-align: center;
	padding: 2;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

/*----------------------------------------------------------------------*/

TD.objeto-editores {
	background-color: #99C9DD;
	border-bottom: 1px solid #000011;
}

TD.objeto-editores-reflexivo {
	background-color: #FE9B6B;
	border-bottom: 1px solid #000011;
}

TD.objeto-barra-seccion {
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	background-color: #66ADCC;
	text-align: left;
	padding: 3px 3px 3px 3px ;
	border-top: 2px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 2px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.objeto-barra-superior {
	font-weight: bold;
	font-size: 11px;
	color: #FFFFF1;
	background-color: #3392BB;
	text-align: left;
	padding: 3px 3px 3px 3px ;
/*	border-top: 1px solid #99C9DD;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #99C9DD;
	border-right: 1px solid #99C9DD;*/
}

TD.objeto-barra-superior-botones {
	font-weight: bold;
	font-size: 11px;
	color: #FFFFF1;
	background-color: #0077AA;
	text-align: left;
	padding: 3px 3px 3px 3px ;
	border-top: 1px solid #99C9DD;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #99C9DD;
	border-right: 1px solid #99C9DD;
}

TABLE.objeto-base {
	text-align: center;
	align: center;
	border-collapse: collapse;
	background-color: #0077AA;
/*	empty-cells: show; */
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TABLE.abm {
	background-color: #E5F1F6;
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 2px solid #0077AA;
	border-left: 2px solid #0077AA;
	border-bottom: 2px solid #0077AA;
	border-right: 2px solid #0077AA;
}

TD.abm-titulo
{
	font-weight: bold;
	font-size: 11px;
	color: #FFFFF1;
	background-color: #3392BB;
	text-align: left;
	padding: 5px 5px 5px 5px ;
	border-top: 1px solid #99C9DD;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #99C9DD;
	border-right: 1px solid #99C9DD;
}

TD.abm-zona-botones
{
	font-weight: bold;
	font-size: 8px;
	color: #FFFFF1;
	background-color: #3392BB;
	text-align: right;
	padding: 3px 3px 3px 3px ;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.abm-fila
{
	font-size: 8px;
	color: #0077AA;
	background-color: #FFFFF1;
	text-align: left;
	padding: 0px 3px 0px 3px ;
	margin: 0px 0px 0px 0px ;
}

TD.abm-fila-ml, TD.abm-fila-ml-selec
{
	font-size: 8px;
	color: #0077AA;
	text-align: center;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	/* border-right: 1px solid #66ADCC; */
}

TD.abm-fila-ml 
{
	background-color: #FFFFF1;
}	

TD.abm-fila-ml-selec 
{ 
	background-color: #E5F1F6;
	border-collapse:collapse;
	border-top: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;	
}

.abm-columna
{
	font-size: 10px;
	color: #0077AA;
	background-color: #99C9DD;
	text-align: center;
	padding: 2px 2px 4px 2px ;
	border-top: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #66ADCC;
}

TD.abm-total
{
	font-size: 10px;
	color: #0077AA;
	background-color: #CCE4EE;
	text-align: center;
	padding: 2px 0px 2px 0px ;
	border-top: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
}

.abm-input-eliminar
{
	font-weight: bold;
	font-size: 11px;
	color: #3392BB;
	background-color: #FE9B6B;
/*
	border-top: 1px solid #99C9DD;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #99C9DD;
	border-right: 1px solid #99C9DD;
*/
}

.abm-input
{
	font-size: 11px;
	color: #0077AA;
	background-color: #ffffff;
/*	border-top: 1px solid #99C9DD;	border-left: 1px solid #99C9DD;	border-bottom: 1px solid #99C9DD;	border-right: 1px solid #99C9DD;*/
}
/*  ------------------------------ FILTRO -------------------------  */

.parametro-item {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #3392BB; 
	BACKGROUND-COLOR: #99C9DD; 
	TEXT-ALIGN: left;
	border: 1px inset #0077AA;
}
.parametro-item-activado {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #0077AA;
	BACKGROUND-COLOR: #FE9B6B; 
	TEXT-ALIGN: left;
	border: 1px inset #0077AA;
}
.parametro-tabla {
	FONT-SIZE: 12px;
	COLOR: #000011;
	BACKGROUND-COLOR: #9999AA;
	TEXT-ALIGN: center;
}
.parametro-fila {
	FONT-SIZE: 12px;
	COLOR: #000011;
	BACKGROUND-COLOR: #9999AA;
	TEXT-ALIGN: left;
}
.filtro-titulo
{
	font-weight: bold;
	font-size: 11px;
	color: #FFFFF1;
	background-color: #3392BB;
	text-align: left;
	padding: 5px 5px 5px 5px ;
	border-top: 1px solid #99C9DD;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #99C9DD;
	border-right: 1px solid #99C9DD;
}
.filtro-item {
	color: #FFFFF1;
	background-color: #FFFFF1;
	text-align: left;
	padding: 0px 0px 0px 0px ;
	border-top: 1px solid #99C9DD;
}

input.parametros_boton
{
    font-size: 10px;
    color: #99C9DD;
}
input.parametros
{
    border: #666677 2px solid;
    font-size: 10px;
    color: #666677;
    font-family: verdana, arial;
    background-color: #CCE4EE
	 TEXT-ALIGN: right;
}
select.parametros
{
    font-size: 10px;
    color: #0077AA;
    background-color: #99C9DD;
    border-bottom: #9999AA 1px solid;
    border-left: #9999AA 1px solid;
    border-right: #9999AA 1px solid;
    border-top: #9999AA 1px solid;
}
/*  ------------------------------------------------------------  
    ------------------------------ HOJA ------------------------- 
    -------------------------------------------------------------  */

A.hoja-drill {
	text-decoration: none; 
	color: #0077AA;
	font-weight: bold; 
	text-align: left;
	padding: 2;
}

TABLE.hoja-tabla {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
}

/*----------------------------- TITULOS -------------------------*/

.hoja-titulo
{
	font-weight: bold;
	font-size: 11px;
	color: #FFFFF1;
	background-color: #3392BB;
	text-align: left;
	padding: 5px 5px 5px 5px ;
}

TD.hoja-serie-nombre {
	font-weight: bold; 
	color: #FEFFDF; 
	background-color: #66ADCC; 
	text-align: center;
}

TD.hoja-serie-nombre-b {
	font-weight: bold; 
	color: #FEFFDF; 
	background-color: #66ADCC; 
	text-align: center;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.hoja-titulo-col {
	color: #0077AA; 
	background-color: #CCE4EE; 
	text-align: center;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

/*------------------------------- DATOS ----------------------------*/

TD.hoja-dato-desc {
	color: #0077AA;
	background-color: #99C9DD;
	font-weight: bold; 
	text-align: left;
	padding: 2;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.hoja-dato-desc2 {
	color: #0077AA;
	background-color: #99C9DD;
	font-weight: bold; 
	text-align: center;
	padding: 2;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.hoja-dato-0 {
	color: #0077AA; 
	background-color: #ffffff; 
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.hoja-dato-1 {
	color: #0077AA;
	background-color: #FEFFDF;
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.hoja-dato-2 {
	color: #0077AA;
	background-color: #66ADCC;
	text-align: right;
	padding: 2;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

/*--------------------------------- TOTAL -----------------------------*/

TD.hoja-total-desc {
	color: #FEFFDF;
	background-color: #3392BB;
	text-align: left;
	font-weight: bold; 
	padding: 2;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.hoja-total-desc2 {
	color: #FEFFDF;
	background-color: #3392BB;
	text-align: center;
	font-weight: bold; 
	padding: 2;
	border-top: 1px solid #99C9DD;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

TD.hoja-total-0 {
	color: #0077AA;
	background-color: #FFDDBB;
	text-align: right;	
	border-top: 1px solid #990000;
	border-left: 1px solid #990000;
	border-bottom: 1px solid #990000;
	border-right: 1px solid #990000;
}

TD.hoja-total-1 {
	color: #0077AA;
	background-color: #FE9B6B;
	font-weight: bold; 
	text-align: right;
	border-top: 1px solid #990000;
	border-left: 1px solid #990000;
	border-bottom: 1px solid #990000;
	border-right: 1px solid #990000;
}

/*----------------------------------------------------------------------*/

.hoja-texto-0 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #0077AA;
	TEXT-ALIGN: right;
}

.hoja-titulo {
	FONT-WEIGHT: normal;
	FONT-SIZE: 18px;
	COLOR: #0077AA;
	TEXT-ALIGN: right;
}

/*  ------------------------------ lista -------------------------  */

TABLE.lista-tabla {
	border-collapse: collapse;
	background-color: #0077AA;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
	border-top: 2px solid #0077AA;
	border-left: 2px solid #0077AA;
	border-bottom: 2px solid #0077AA;
	border-right: 2px solid #0077AA;
}

A.lista-link {
	text-decoration: none; 
	color: #0077AA; 
}

TD.lista-titulo {
	font-size: 12px;
	font-weight: bold; 
	color: #ffffff; 
	background-color: #3392BB; 
	text-align: left;
	padding: 10,10,5,10;
}

TD.lista-subtitulo {
	font-size: 10px;
	color: #ffffff; 
	background-color: #3392BB; 
	text-align: left;
	padding: 5,5,5,10;
}

TD.lista-col-titulo {
	font-weight: bold; 
	color: #FFFFF1; 
	background-color: #66ADCC; 
	text-align: center;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.lista-fila-titulo {
	font-weight: bold; 
	color: #FFFFF1; 
	background-color: #66ADCC; 
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
	white-space: nowrap;
}

TD.lista-vinculo {
	color: #0077AA; 
	background-color: #CCE4EE; 
	padding: 2;
	text-align: center;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB
}

TD.lista-c {
	color: #0077AA; 
	background-color: #ffffff; 
	padding: 2;
	text-align: center;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB
}

TD.lista-t {
	color: #0077AA; 
	background-color: #ffffff; 
	padding: 2;
	text-align: left;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB
}

TD.lista-n {
	color: #0077AA; 
	background-color: #ffffff; 
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB
}

TD.lista-e {
	color: #0077AA; 
	background-color: #FFDDBB; 
	padding: 2;
	text-align: center;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB
}

TD.lista-e2 {
	color: #0077AA; 
	background-color: #FE9B6B; 
	padding: 2;
	text-align: center;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB
}

TD.lista-seleccion {
	background-color: #66ADCC;
}/*-----------  CABECERA ------------*/

TD.doc-archivo {
	padding: 10,5,2,15;
	font-size: 12px;
	color: #0077AA;
	text-align: left;
}

TD.doc-archivo-tipo {
	padding: 0,5,2,15;
	font-size: 10px;
	color: #0077AA;
	text-align: left;
}

/*-----------  CLASES ------------*/

DIV.doc-clase-nombre {
	padding: 0,5,15,0;
	font-size:22px;
	font-weight: bold;
	color: #990000;
	text-align: left;
}

DIV.doc-clase-desc {
	padding: 0,5,10,20;
	font-size:11px;
	color: #0077AA;
	text-align: left;
}

DIV.doc-clase-seccion {
	padding: 0,5,10,0;
	font-size:14px;
	font-weight: bold;
	color: #0077AA;
	text-align: left;
}
/*-----------  FUNCIONES ------------*/

TD.doc-func-nombre {
	padding: 0,5,2,5;
	font-size: 18px;
	color: #0077AA;
	background-color: #CCE4EE;
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 2px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.doc-func-etiqueta {
	padding: 0,5,2,5;
	font-size: 11px;
	color: #990000;
	background-color: #FFDDBB;
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.doc-func-valor {
	padding: 0,5,2,5;
	font-size: 10px;
	color: #0077AA;
	background-color: #ffffff;
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.doc-func-acceso {
	padding: 0,5,2,5;
	font-size: 10px;
	font-weight: bold;
	color: #990000;
	background-color: #ffffff;
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

OL.doc-func-lista {
	padding: 0,5,2,5;
	margin-bottom:0;
	margin-top:0;
}

DIV.doc-func-param-opcional {
	padding: 0,5,2,5;
	font-size: 10px;
	color: #D65932;
	text-align: left;
}

DIV.doc-func-param-obligatorio {
	padding: 0,5,2,5;
	font-size: 10px;
	color: #0077AA;
	text-align: left;
}/*------------------------ ELEMENTOS de FORMULARIO ----------------------*/

TD.ef-etiqueta-obligatorio
{
	font-weight: bold; 
	font-size: 10px;
	color: #990000;
	background-color: #99C9DD;
	text-align: left;
	padding: 0px 2px 0px 4px ;
	border-top: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;

/*
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
*/
}


TD.ef-etiqueta
{
/*	font-weight: bold; */
	font-size: 10px;
	color: #0077AA;
	background-color: #99C9DD;
	text-align: left;
	padding: 0px 2px 0px 4px ;
	border-top: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;

/*
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
*/
}

TD.ef-etiqueta-error
{
/*	font-weight: bold; */
	font-size: 10px;
	color: #ffffff;
	background-color: #FF411B;
	text-align: left;
	padding: 0px 2px 0px 4px ;
	border-top: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;

/*
	border-left: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
*/
}


TD.ef-zonainput
{
	font-weight: bold;
	font-size: 10px;
	color: #0077AA;
	background-color: #99C9DD;
	text-align: left;
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
}

.ef-boton
{
	font-size: 10px;
	color: #0077AA;
}

.ef-input
{
	font-size: 10px;
	color: #0077AA;
	background-color: #FFFFF1;
/*
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
*/
}

.ef-input-file
{
	font-size: 10px;
	color: #0077AA;
	background-color: #FFFFF1;
/*
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
*/
}

.ef-input-numero
{
	font-size: 10px;
	color: #0077AA;
	background-color: #FFFFF1;
	text-align: right;
/*
	border-top: 1px solid #3392BB;
	border-left: 1px solid #3392BB;
	border-bottom: 1px solid #3392BB;
	border-right: 1px solid #3392BB;
*/
}

.ef-input-numero-2
{
	font-size: 10px;
	color: #D65932;
	background-color: #FEFFDF;
	text-align: right;
}

.ef-input-numero-3
{
	font-size: 10px;
/*	font-weight: bold; */
	color: #0077AA;
	background-color: #FEFFDF;
	text-align: right;
}

.ef-textarea
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0077AA;
	background-color: #FFFFF1
}

.ef-combo
{
	font-size: 10px;
	color: #0077AA;
	background-color: #FFFFF1;
	border-top: 0px solid #3392BB;
	border-left: 0px solid #3392BB;
	border-bottom: 0px solid #3392BB;
	border-right: 0px solid #3392BB;
}

.ef-checkbox
{
	font-size: 10px;
	color: #0077AA;
	background-color: #FFFFF1;
}

.ef-fijo {
	text-align: left;
	font-size: 12px;
	white-space: nowrap;
	padding: 2px;
}
/*------------------ ELEMENTOS de INTERFACE --------------------*/

TD.ei-cuerpo {
	vertical-align: top;
	font-size: 10px;
	color: #E5F1F6;
	background-color: #3392BB;
	text-align: left;
	padding: 2px 2px 2px 2px ;
}

TD.ei-base {
	font-size: 10px;
	color: #CCE4EE;
	background-color: #CCE4EE;
	text-align: left;
	padding: 4px 4px 4px 4px ;
}

TD.objeto-ci-barra-superior {
	font-weight: bold;
	font-size: 11px;
	color: #FFFFF1;
	background-color: #3392BB;
	text-align: left;
	padding: 3px 3px 3px 3px ;
/*	border-top: 1px solid #99C9DD;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #99C9DD;
	border-right: 1px solid #99C9DD;*/
}

TD.ci-cuerpo {
	font-size: 10px;
	color: #0077AA;
	background-color: #E5F1F6;
	text-align: left;
	padding: 10px 10px 10px 10px ;
}

TD.objeto-ei-barra-superior {
	font-weight: bold;
	font-size: 11px;
	color: #FFFFF1;
	background-color: #3392BB;
	text-align: left;
	padding: 3px 3px 3px 3px ;
}

.tabla-con-scroll {
	overflow: auto;
}

/*------------------ CALENDARIO --------------------*/

.year, .month {
	border-style: outset;
	background-color: #e4e4e4;
	text-align: center;
}
.year {	border-width: 1px; }
.yearname {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.monthname {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background-color: #DADADA;
	color: #5D5D5D;
	border-style: outset;
	border-width:1px
}
.dayname td {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background-color: #441177;
	color: #ffffff;
	border-style: outset;
	border-width:1px
}
.yearnavigation {
	font-size: 12px;
}
.datepicker {
	background-color: #e4e4e4;
}
.datepickerform {
	margin: 0px;
}
.monthnavigation {
	font-family: Tahoma, Arial, sans-serif;
}
.monthpicker, .yearpicker, .pickerbutton {
	font-size: 11px;
	background-color: #eeeeee;
}
.pickerbutton {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}
.nomonthday {
	height:20px;
	width:20px;
}
.nomonthdayevents {
	height:60px;
	width:60px;
}
.monthday, .weeknumber {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #384955;
	height:20px;
	width:20px;
}
.monthday {	background-color: #E4E4E4; }
.weeknumber { background-color: #f0f1ff; }
.monthdayevents, .weeknumberevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #384955;
	height:60px;
	width:60px;
	vertical-align: top;
}
.monthdayevents { background-color: #E4E4E4; }
.weeknumberevents { background-color: #f0f1ff; }
.today, .todayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #441177;
	color:#384955;
}
.today {
	height:20px;
	width:20px;
}
.todayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.selectedday, .selecteddayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #441177;
	background-color:#d9dbff;
}
.selectedday {	
	height:20px;
	width:20px;
}
.selecteddayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.sunday, .sundayevents {
	text-align: center;
	font-size: 11px;
	color: #667171;
}
.sunday {
	height:20px;
	width:20px;
}
.sundayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.sunday a, .saturday a {
	color: #667171;
}
.saturday, .saturdayevents {
	text-align: center;
	font-size: 11px;
	color: #667171;
}
.saturday{
	height:20px;
	width:20px;
}
.saturdayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.event, .eventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
}
.event {
	height:20px;
	width:20px;
}
.eventevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.event a {
	background-color: #ffff99;
	color: red;
}
.selectedevent, .selectedeventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
}
.seelctedevent {
	height:20px;
	width:20px;
}
.selectedeventevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.selectedevent a {
	background-color: #ffff99;
	color: red;
}
.todayevent, .todayeventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
}
.todayevent {
	height:20px;
	width:20px;
}
.todayeventevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.todayevent a {
	background-color: #ffff99;
	color: red;
}
.eventcontent {
	font-size: 9px;
	border-style: outset;
	border-width: 1px;
	width: 100%;
}
/*-----------------------------objeto_ei_arbol-----------------------------------*/
.ei_arbol-rama {
	list-style-type: none; 
	margin-left: 20px;
	padding-left: 0px;
	padding-top: 5px;
	white-space: nowrap;
}
.ei_arbol-raiz {
	list-style-type: none; 
	white-space: nowrap;
	margin:0px; 
	padding: 0px;
}
.ei_arbol-ver-prop {
	text-decoration: none;
}
.ei_arbol-ver-prop:hover {
	text-decoration: underline;
}
.ei_arbol-nodo {
}
.ei_arbol-exp-contr {
	cursor: hand;
	cursor: pointer;
}
TD.grafico-titulo {
	font-size: 12px;
	color: #E5F1F6;
	font-weight: bold;
	background-color: #0077AA;
	text-align: left;
	padding: 8,4,4,10;
}

TD.grafico-subtitulo {
	font-size: 12px;
	color: #E5F1F6;
	font-weight: bold;
	background-color: #0077AA;
	text-align: left;
	padding: 8,4,4,10;
}

TD.grafico-vacio {
	color: #E5F1F6;
	background-color: #3392BB;
	text-align: center;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
	padding: 0,0,0,0;
}

TD.grafico-leyenda-muestra {
	border-top: 1px solid #000011;
	border-left: 1px solid #000011;
	border-bottom: 1px solid #000011;
	border-right: 1px solid #000011;
}

TD.grafico-leyenda-texto {
	padding: 0,5,2,5;
	font-size: 10px;
	text-align: left;
	color: #E5F1F6;
	background-color: #3392BB;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 0px solid #0077AA;
}

TD.grafico-objeto {
	padding: 0,0,0,0;
	font-size: 10px;
	font-weight: bold;
	color: #E5F1F6;
	background-color: #66ADCC;
	text-align: left;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 4px solid #0077AA;
}/*---------------------------- CABECERA -------------------------*/

TD.lista-pag-bot {
	font-size: 11px;
	color: #0077AA;
	background-color: #99C9DD;
	text-align: right;
	padding: 2px 2px 2px 2px ;
}

.lista-pag-descr {
	font-size: 9px;
	font-weight:lighter;
}

TABLE.listado-base {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TD.listado-barra-superior {
	background-color: #0077AA;
	text-align: right;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TD.listado-barra-superior-tabn {
	font-size: 11px;
	color: #CCE4EE;
	text-align: center;
	padding: 2px 8px 2px 8px ;
	margin: 0px 0px 0px 0px ;
	background-color: #3392BB;
	border-top: 1px solid #66ADCC;
	border-right: 1px solid #66ADCC;
	border-left: 1px solid #66ADCC;
	border-bottom: 1px solid #66ADCC;
}

TD.listado-barra-superior-tabn-m {
	font-size: 11px;
	color: #66ADCC;
	text-align: center;
	padding: 2px 8px 2px 8px ;
	margin: 0px 0px 0px 0px ;
	background-color: #FE9B6B;
	border-top: 1px solid #66ADCC;
	border-right: 1px solid #66ADCC;
	border-left: 1px solid #66ADCC;
	border-bottom: 1px solid #66ADCC;
}

/* celda tipo icono */
TD.listado-barra-superior-tabi {
	font-size: 11px;
	color: #66ADCC;
	font-weight: bold;
	text-align: center;
	padding: 2px 2px 2px 2px ;
	margin: 0px 0px 0px 0px ;
	background-color: #3392BB;
	border-top: 1px solid #66ADCC;
	border-right: 1px solid #66ADCC;
	border-left: 1px solid #66ADCC;
	border-bottom: 1px solid #66ADCC;
}

TD.listado-barra-superior-tabi2 {
	font-size: 11px;
	color: #66ADCC;
	font-weight: bold;
	text-align: center;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	background-color: #3392BB;
}

/* celda tipo icono */
TD.listado-barra-superior-tabi {
	font-size: 11px;
	color: #66ADCC;
	font-weight: bold;
	text-align: center;
	padding: 0px 2px 0px 2px ;
	margin: 0px 0px 0px 0px ;
	background-color: #3392BB;
	border-top: 1px solid #66ADCC;
	border-right: 1px solid #66ADCC;
	border-left: 1px solid #66ADCC;
	border-bottom: 1px solid #66ADCC;
}

TD.listado-linea {
	background-color: #66ADCC;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TD.listado-vacia {
	text-align: right;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

A.listado-tabn-l {
	text-decoration: none; 
	color: none; 
}

/* celda tipo nombre */
TD.listado-tabn {
	font-size: 10px;
	color: #66ADCC;
	text-align: center;
	padding: 2px 2px 2px 2px ;
	margin: 0px 0px 0px 0px ;
	background-color: #3392BB;
	border-top: 1px solid #99C9DD;
	border-right: 1px solid #99C9DD;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #99C9DD;
}

TD.listado-tabn-m {
	font-size: 10px;
	color: #66ADCC;
	text-align: center;
	padding: 2px 2px 2px 2px ;
	margin: 0px 0px 0px 0px ;
	background-color: #0077AA;
	border-top: 1px solid #99C9DD;
	border-right: 1px solid #99C9DD;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #99C9DD;
}

/* celda tipo icono */
TD.listado-tabi {
	font-size: 11px;
	color: #66ADCC;
	font-weight: bold;
	text-align: center;
	padding: 2px 2px 2px 2px ;
	margin: 0px 0px 0px 0px ;
	background-color: #66ADCC;
	border-top: 1px solid #99C9DD;
	border-right: 1px solid #99C9DD;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #99C9DD;
}

TD.listado-normal {
	font-size: 11px;
	color: #E5F1F6;
	background-color: #3392BB;
	text-align: center;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	/*border-top: 1px solid #99C9DD;
	border-right: 2px solid #99C9DD;
	border-left: 2px solid #99C9DD;
	border-bottom: 1px solid #0077AA;*/
}

TD.lista-parametro {
	font-size: 10px;
	color: #0077AA;
	background-color: #FFDDBB;
	/*font-weight: bold;*/
	text-align: right;
	padding: 2px 5px 2px 5px ;
	border-bottom: 1px dotted #3392BB;
/*
	border-top: 2px solid #99C9DD;
	border-left: 2px solid #0077AA;
	border-right: 2px solid #0077AA;
*/
}


/*---------------------------- LISTADO DE ITEMS -------------------------*/

A.cat-item {
	text-decoration: none; 
	color: #0077AA; 
}	

TABLE.cat-item {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TABLE.cat-item2 {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 2px solid #0077AA;
	border-left: 2px solid #0077AA;
	border-bottom: 2px solid #0077AA;
	border-right: 2px solid #0077AA;
}

TD.cat-item-opcion {
	text-align: left;
	font-size: 10px;
	color: #FEFFDF;
	background-color: #0077AA;
	border-top: 1px solid #FEFFDF;
}

TD.cat-item-titulo {
	font-size: 12px;
	color: #E5F1F6;
	background-color: #3392BB;
	font-weight: bold;
	text-align: center;
	border-top: 2px solid #0077AA;
	border-left: 2px solid #0077AA;
	border-bottom: 2px solid #0077AA;
	border-right: 2px solid #0077AA;
}

TD.cat-item-botones {
	background-color: #66ADCC;
	border-top: 1px inset #0077AA;
	border-bottom: 1px solid #000011;
}

TD.cat-item-botones2 {
	background-color: #99C9DD;
	border-bottom: 1px solid #000011;
}

TD.cat-item-categ1 {
	text-align: left;
	font-size: 11px;
	color: #0077AA;
	background-color: #FE9B6B;
	padding: 2px 5px 2px 5px ;
}

TD.cat-item-titcol {
	font-size: 10px;
	color: #E5F1F6;
	font-weight: bold;
	background-color: #3392BB;
	text-align: center;
	border-top: 2px solid #0077AA;
	border-left: 2px solid #0077AA;
	border-bottom: 2px solid #0077AA;
	border-right: 2px solid #0077AA;
}

TD.cat-item-dato1 {
	font-size: 9px;
	color: #0077AA;
	background-color: #E5F1F6;
	text-align: left;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.cat-item-dato1-nb {
	font-size: 9px;
	color: #0077AA;
	background-color: #E5F1F6;
	text-align: left;
	border-bottom: 1px solid #0077AA;
}

TD.cat-item-dato2 {
	font-size: 9px;
	color: #E5F1F6;
	background-color: #66ADCC;
	font-weight: bold;
	text-align: left;
	border-top: 1px outset #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.cat-item-dato3 {
	font-size: 9px;
	color: #000011;
	background-color: #ffffff;
	text-align: right;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.cat-item-dato4 {
	font-size: 9px;
	color: #990000;
	background-color: #FFDDBB;
	text-align: left;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.cat-item-dato4-nb {
	font-size: 9px;
	color: #990000;
	background-color: #FFDDBB;
	text-align: left;
	border-bottom: 1px solid #0077AA;
}

TD.cat-item-dato5 {
	font-size: 9px;
	color: #ffffff;
	background-color: #FE9B6B;
	text-align: left;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.cat-item-dato5-nb {
	font-size: 9px;
	color: #ffffff;
	background-color: #FE9B6B;
	text-align: left;
	border-bottom: 1px solid #0077AA;
}


TD.cat-arbol-carpeta {
	background-color: #66ADCC;
	border-top: 4px outset #0077AA;
	border-left: 1px solid #3392BB;
	/*border-bottom: 1px solid #000011;*/
}

TD.cat-arbol-carpeta-info {
	font-size: 10px;
	color: #ffffff;
	background-color: #66ADCC;
	font-weight: bold;
	text-align: left;
	border-top: 4px outset #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.cat-arbol-item {
	background-color: #99C9DD;
	border-bottom: 1px solid #000011;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
}


TD.cat-arbol {
	background-color: #66ADCC;
	/*border-right: 1px solid #E5F1F6;*/
	border-left: 2px solid #0077AA;
	/* border-bottom: 1px solid #D65932; */
}

/*---------------------------- LISTADO DE OBJETOS -------------------------*/

A.list-obj {
	text-decoration: none; 
	color: #E5F1F6; 
}	

TABLE.lista-obj {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 0px solid #0077AA;
	border-left: 0px solid #0077AA;
	border-bottom: 0px solid #0077AA;
	border-right: 0px solid #0077AA;
}

TABLE.lista-obj2 {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #0077AA;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
	border-right: 1px solid #0077AA;
}

TD.lista-obj-opcion {
	text-align: left;
	font-size: 10px;
	color: #FEFFDF;
	background-color: #0077AA;
	border-top: 1px solid #FEFFDF;
}

TD.lista-obj-titulo {
	font-size: 11px;
	color: #FEFFDF;
	background-color: #D65932;
	text-align: center;
	padding: 3px 3px 4px 1px ;
}

TD.lista-obj-botones {
	background-color: #99C9DD;
	border-bottom: 1px solid #000011;
}

TD.lista-obj-botonesb {
	background-color: #3392BB;
	border-bottom: 1px solid #000011;
}

TD.lista-obj-botones2 {
	background-color: #3392BB;
	border-bottom: 1px solid #000011;
}

TD.lista-obj-categ1 {
	text-align: left;
	font-size: 10px;
	color: #FEFFDF;
	background-color: #0077AA;
	padding: 5px 5px 5px 5px ;
	border-top: 1px solid #FEFFDF;
}

TD.lista-obj-titcol {
	font-size: 10px;
	color: #E5F1F6;
	font-weight: bold;
	background-color: #3392BB;
	text-align: center;
	border-top: 2px solid #0077AA;
	border-left: 2px solid #0077AA;
	border-bottom: 2px solid #0077AA;
	border-right: 2px solid #0077AA;
}

TD.lista-obj-dato1 {
	font-size: 9px;
	text-align: left;
	color: #3392BB;
	background-color: #ffffff;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.lista-obj-dato1b {
	font-size: 9px;
	text-align: left;
	color: #D65932;
	background-color: #FEFFDF;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}


TD.lista-obj-dato2 {
	font-size: 9px;
	color: #0077AA;
	background-color: #CCE4EE;
	text-align: left;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.lista-obj-dato2b {
	font-size: 9px;
	color: #0077AA;
	background-color: #99C9DD;
	text-align: left;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.lista-obj-dato3 {
	font-size: 9px;
	color: #66ADCC;
	background-color: #ffffff;
	text-align: right;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.lista-obj-dato3b {
	font-size: 9px;
	color: #D65932;
	background-color: #FEFFDF;
	text-align: right;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.lista-obj-dato4 {
	font-size: 9px;
	color: #0077AA;
	background-color: #FFDDBB;
	text-align: left;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.lista-obj-dato5 {
	font-size: 9px;
	color: #ECECF0;
	background-color: #D65932;
	text-align: left;
	border-left: 1px solid #0077AA;
	border-bottom: 1px solid #0077AA;
}

TD.lista-obj-clase {
	font-size: 9px;
	text-align: left;
	color: #0077AA;
	background-color: #66ADCC;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #0077AA;
}


/*------------------------ ELEMENTOS de FORMULARIO ----------------------*/

.tabs-solapa {
	background-color: #66ADCC; 
	text-align: center;
	border-bottom: 2px solid #99C9DD;
	border-top: 2px solid #99C9DD;
	border-right: 2px solid #99C9DD;
	border-left: 2px solid #0077AA;
	white-space: nowrap;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

.tabs-solapa-sel {
	background-color: #66ADCC; 
	text-align: center;
	border-top: 2px solid #99C9DD;
	border-right: 2px solid #99C9DD;
	border-left: 2px solid #0077AA;
	border-bottom: 2px solid #66ADCC;
	white-space: nowrap;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

.tabs-v-solapa {
	text-align: left;
	border-right: 1px solid #99C9DD;
	white-space: nowrap;
	padding: 2px 10px 2px 2px ;
}

.tabs-v-solapa-sel {
	background-color: #66ADCC; 
	text-align: left;
	border-top: 1px solid #99C9DD;
	border-left: 1px solid #99C9DD;
	border-bottom: 1px solid #0077AA;	
	white-space: nowrap;
	padding: 0px 10px 0px 3px;
}
.tabs-boton
{
	white-space: nowrap;
	font-size: 11px;
	color: #0077AA;
	background-color: #66ADCC;
	border-top: 1px solid #66ADCC;
	border-left: 1px solid #66ADCC;
	border-bottom: 1px solid #66ADCC;
	border-right: 1px solid #66ADCC;
	padding: 3px 0px 0px 0px ;
}

.tabs-boton-sel
{
	white-space: nowrap;
	font-weight: bold; 
	font-size: 11px;
	color: #0077AA;
	background-color: #66ADCC;
	border-top: 1px solid #66ADCC;
	border-left: 1px solid #66ADCC;
	border-bottom: 1px solid #66ADCC;
	border-right: 1px solid #66ADCC;
	padding: 3px 0px 0px 0px ;
}

.tabs-v-boton {
	line-height: 15px;	
	text-decoration: none;	
	padding: 3px 2px 12px 2px ;	
	font-size: 10px;
	white-space: nowrap;
}
.tabs-v-boton:hover {
	text-decoration: underline;
}

.tabs-v-boton-sel {
	font-weight: bold;
	font-size: 11px;
	COLOR: #000000;
	padding: 3px 2px 2px 2px;
	white-space: nowrap;	
	background-color: #66ADCC;
}

TD.tabs-solapa-hueco {
	border-bottom: 2px solid #99C9DD;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TD.tabs-contenedor {
	background-color: #66ADCC; 
	text-align: center;
	border-right: 2px solid #99C9DD;
	border-left: 2px solid #0077AA;
	border-bottom: 2px solid #0077AA;
	padding: 10px 7px 10px 7px ;
	margin: 0px 0px 0px 0px ;
	vertical-align: top;
}

.tabs-v-contenedor {
	background-color: #66ADCC; 
	text-align: center;
	border-right: 2px solid #99C9DD;
	border-bottom: 2px solid #0077AA;
	padding: 6px 2px 6px 6px ;
	vertical-align: top;
}

TABLE.objeto-base-3d {
	text-align: center;
	align: center;
	border-collapse: collapse;
	background-color: #0077AA;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 5px 0px ;
	font-size: 10px;
	border-top: 2px solid #0077AA;
	border-left: 2px solid #0077AA;
	border-bottom: 2px solid #666677;
	border-right: 2px solid #CCCCDD;
}

.wizard-encabezado {
	padding-right: 5px;
	padding-left: 15px;
	font-size: 11px;
	padding-bottom: 5px;
	color: #222222;
	padding-top: 5px;
	background-color: #ffffff;
	text-align: left	
}
.wizard-titulo {
	font-weight: bold;
}
.wizard-descripcion {
	padding-left: 15px;	
}
.wizard-pantallas {
	vertical-align: top;
	text-align: left;	
	white-space:nowrap;
	padding: 15px 10px 5px 0px;
	margin-left: 30px;
	font-size: 10px;	
}
.wizard-pantallas-pasada {
 	color:gray;
}
.wizard-pantallas-futuro {
 	color:gray;
}
.wizard-pantallas-actual {
	font-weight: bold;
}