TD.boltit {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeaa77
}
TD.bolsub {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeaa77
}
TD.bolsec {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeaa77
}
TD.base {
	BACKGROUND-COLOR: #005588
}
TD.infotitular {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #005588
}
TD.info1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeaa77
}
TD.info2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffeebb
}
TD.bloquep {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #005588
}
TD.titulo1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #0077aa
}
TD.titulo2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #0099cc
}
TD.dato1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #005588; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD.dato2 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD.error {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #005588; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeaa77
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #005588; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P.gen {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; TEXT-INDENT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
P.gen2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #990000; TEXT-INDENT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
A {
	TEXT-DECORATION: none
}
A.titulo {
	FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.ub {
	FONT-SIZE: 11px; COLOR: #ffeebb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.zona:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.zona:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.zona:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #eeaa77; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.subitem:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.subitem:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.subitem:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.en:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffeebb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.en:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffeebb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.en:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.menu:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.menu:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.menu:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #eeaa77; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD.menu-sec {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffeebb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-p1b {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #005588; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-p1 {
	FONT-SIZE: 11px; COLOR: #005588; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-a1b {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-a1 {
	FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-a2b {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #eeaa77; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-a2 {
	FONT-SIZE: 11px; COLOR: #eeaa77; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-a3b {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffeebb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-a3 {
	FONT-SIZE: 11px; COLOR: #ffeebb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-r1b {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-r1 {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-r2b {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-r2 {
	FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-r3b {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-r3 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.f-men {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-men-s {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.f-r2s {
	FONT-SIZE: 9px; COLOR: #cccccc; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
