ul.horizontal, ul.horizontal li {
	margin:0;
	padding:0;
	list-style-type:none;
	font-size:100%;
}

ul.horizontal img {
 vertical-align:middle;
 margin-right: 2px;
}


ul.horizontal {
	position:absolute;
	left:20px;
	cursor:default;
	z-index:5;
	top:5px;
}

ul.horizontal li {
	width:auto;
	float:left;
	position:relative;
	text-align:left;
	left:10.55em;
	margin:0 0 0 -1px;
}
	
* html ul.horizontal li {
	margin:0 -10.55em 0 10.55em;
}

ul[class^="horizontal"] li {
	margin:0 -10.55em 0 10.45em;
	left:0.05em;
}

ul.horizontal ul {
	z-index:2020;
	padding:0;
	cursor:default;
	position:absolute;
	top:auto;
	width: auto;
	min-width: 200px;
	margin:0 0 0 0;
	left:-2000px;
}
	
ul.horizontal ul li {
	display: block;
	float: none;
	width: auto;
	left:auto;
	margin:-1px 0 0 0;
	white-space: nowrap;
}

ul.horizontal ul.wider, ul.horizontal ul.wider li {
	width:12.2em;
	}

ul.horizontal ul ul {
	 margin:-0.45em 0 0 15.65em;
}

@media Screen, Projection { 
	ul.horizontal li:hover > ul { left:auto; }
	ul.horizontal ul li:hover > ul { top:0; }
	}

ul.horizontal a, ul.horizontal a:visited {
	display:block;
	padding:5px 7px;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	color:black;
	text-decoration:none;
	white-space: nowrap;
	line-height: 18px;	
}	


ul.horizontal a:hover, ul.horizontal a:focus, ul.horizontal a.rollover, ul.horizontal a.rollover:visited {
}

ul.horizontal a { float:left; }
@media Screen, Projection { ul.horizontal a { float:none; } }
ul.horizontal a:not(:nth-child(n)) { float:left; }
ul.horizontal ul a { float:none !important; }
@media screen, projection {
	* html ul.horizontal li {
		display:inline; 
		f\loat:left; 
		background: #E9E8E8; 
		}
	}
* html ul.horizontal li { position:static; }
* html ul.horizontal a { position:relative; }
ul[class^="horizontal"] ul { display:block; }

a.menu-link-alt {
	text-decoration: underline !important;
}