TD.arbol-titulo {
	font-size: 12px;
	color: #125CB6;
	font-weight: bold;
	background-color: #083C76;
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
	padding: 8,4,4,10;
}

TD.arbol-cuerpo {
	color: #125CB6;
	background-color: #094384;
	text-align: center;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
	padding: 1,1,1,1;
}

TD.arbol-etiqueta1 {
	padding: 0,5,2,5;
	font-weight: bold;	
	font-size: 10px;
	text-align: left;
	color: #083C76;
	background-color: #11519D;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 4px solid #083C76;
}

TD.arbol-etiqueta2 {
	padding: 0,5,2,5;
	font-size: 10px;
	font-weight: bold;
	color: #125CB6;
	background-color: #10728D;
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 4px solid #083C76;
}

TD.arbol-valor {
	padding: 0,3,0,3;
	font-size: 10px;
	color: #083C76;
	background-color: #ffffff;
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.arbol-valor-array {
	padding: 3,3,3,3;
	font-size: 10px;
	color: #083C76;
	font-weight: bold;
	background-color: #F5F7EB;
	text-align: center;
	border-top: 2px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}


TD.arbol-valor-objeto {
	padding: 0,3,0,3;
	font-size: 10px;
	color: #125CB6;
	background-color: #F1F3E4;
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}


TD.arbol-valor-null {
	padding: 0,3,0,3;
	font-size: 10px;
	color: #125CB6;
	background-color: #083C76;
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}/*------------------ BARRA principal (ITEM) --------------------*/

TD.barra-0 {
	font-size: 10px;
	color: #125CB6;
	background-color: #094384;
	text-align: right;
}

TD.barra-0-edit {
	font-size: 10px;
	font-weight: bold;
	background-color: #083C76;
	padding: 2px 2px 2px 2px ;
	text-align: right;
	border-bottom: 1px solid #094384;
}

TD.barra-0-tit {
	font-weight: bold;
	font-size: 12px;
	color: #EDF0DB;
	background-color: #083C76;
	text-align: right;
}

/*-------------- sub BARRA EDICION Objetos --------------------*/


TD.barra-obj-id {
	font-size: 12px;
	color: #083C76;
	font-weight: bold;
	background-color: #F3F5E9;
	padding: 2px 2px 2px 2px ;
	text-align: right;
	border-bottom: 1px solid #094384;
}

TD.barra-obj-leve {
	font-size: 11px;
	color: #094384;
	background-color: #1257AB;
	text-align: left;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
	border-bottom: 1px solid #094384;
}

TD.barra-separador {
	font-size: 11px;
	color: #083C76;
	background-color: #094384;
	font-weight: bold;
	text-align: left;
	padding: 5px 5px 5px 5px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
	border-bottom: 1px solid #094384;
}

TD.barra-obj-tit1 {
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
	border-bottom: 1px solid #094384;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
	color: #094384;
	background-color: #11519D;
	text-align: left;
}

TD.barra-obj-tit {
	font-size: 11px;
	color: #094384;
	background-color: #F5F7EB;
	text-align: left;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
	border-bottom: 1px solid #094384;
}

TD.barra-obj-link {
	font-size: 10px;
	color: #083C76;
	background-color: #125CB6;
	padding: 2px 2px 2px 2px ;
	text-align: left;
	border-bottom: 1px solid #094384;
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.barra-obj-io {
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
	border-bottom: 1px solid #094384;
	font-weight: bold;
	padding: 6px 10px 6px 10px;
	font-size: 12px;
	color: #083C76;
	background-color: #11519D;
	text-align: left;
}

/*---------------- sub BARRA EDICION Items --------------------*/

TD.barra-item-id {
	font-size: 11px;
	color: #083C76;
	font-weight: bold;
	background-color: #F3F5E9;
	padding: 2px 2px 2px 2px ;
	text-align: left;
	border-bottom: 1px solid #094384;
}

TD.barra-item-tit {
	font-size: 11px;
	color: #083C76;
	background-color: #F5F7EB;
	text-align: left;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
}

TD.barra-item-link {
	font-size: 10px;
	color: #125CB6;
	padding: 2px 2px 2px 2px ;
	text-align: right;
	border-bottom: 1px solid #094384;
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.barra-item-link2 {
	font-size: 10px;
	color: #F1F3E4;
	padding: 2px 2px 2px 2px ;
	text-align: right;
	border-bottom: 1px solid #094384;
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
}
/*----------------------------------------------------------------*//***************************************************************************/
/********************************   GENERAL   ******************************/
/***************************************************************************/


body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #EDF0DB;
}

body.lista {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #094384;
}


body.control {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #083C76;
}

/*----------------------------< tipo de ALINEACION >------------------------*/

A.basico {
	text-decoration: none; 
	color: #083C76; 
/*	font-size: 10px;*/
}	


/*----------------------------< tipo de ALINEACION >------------------------*/

.num {	text-align: right;	}
.tex { 	text-align: left;		}
.cen {	text-align: center;	}

/*------------------------------< tipo de BORDE >---------------------------*/

.borde-0 {
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

.borde-1 {
	border-top: 2px solid #094384;
	border-left: 2px solid #094384;
	border-bottom: 2px solid #094384;
	border-right: 2px solid #094384;
}

.borde-especial {
	border-top: 1px dashed #094384;
	border-left: 1px dashed #094384;
	border-bottom: 1px dashed #094384;
	border-right: 1px dashed #094384;
}

/***************************************************************************/
/************************** ELEMENTOS BASICOS ******************************/
/***************************************************************************/



/*-------------------------------- MENU -----------------------------*/

TD.menu-0 {
	font-size: 10px;
	color: #EDF0DB;
	background-color: #11519D;
	text-align: left;
}

TD.menu-1 {
	font-size: 10px;
	color: #083C76;
	background-color: #11519D;
	text-align: right;
}

/*-------------------------------- MENSAJES -----------------------------*/

/*--------- info -------*/

TABLE.mensaje-info {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
	border-top: 3px solid #083C76;
	border-left: 3px solid #083C76;
	border-bottom: 3px solid #083C76;
	border-right: 3px solid #083C76;
}

TD.mensaje-titulo-info {
	font-size: 12px;
	color: #EDF0DB;
	background-color: #094384;
	text-align: right;
	font-weight: bold;
	padding: 5px 10px 3px 10px ;
}

TD.mensaje-subtitulo-info {
	font-size: 11px;
	color: #11519D;
	background-color: #094384;
	text-align: left;
	padding: 0px 0px 5px 5px ;
}

TD.mensaje-cuerpo-info {
	font-size: 12px;
	color: #083C76;
	background-color: #ffffff;
	text-align: left;
	padding: 15px 10px 15px 10px ;
}

/*--------- error -------*/

TABLE.mensaje-error {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
	border-top: 3px solid #DC143C;
	border-left: 3px solid #DC143C;
	border-bottom: 3px solid #DC143C;
	border-right: 3px solid #DC143C;
}

TD.mensaje-titulo-error {
	font-size: 12px;
	color: #ffffff;
	background-color: #DC143C;
	text-align: right;
	font-weight: bold;
	padding: 5px 10px 3px 10px ;
}

TD.mensaje-subtitulo-error {
	font-size: 11px;
	color: #CCCCDD;
	background-color: #DC143C;
	text-align: left;
	padding: 0px 0px 5px 5px ;
}

TD.mensaje-cuerpo-error {
	font-size: 12px;
	color: #083C76;
	background-color: #ffffff;
	text-align: center;
	padding: 15px 10px 15px 10px ;
}

/*------------------------------< tipo de TABLA >---------------------------*/

TABLE.tabla-0 {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
}

TD.celda-vacia {
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TABLE.tabla-1 {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 11px;
}

TABLE.tabla-2 {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 12px;
}

/*------------------------------< PORTADA >---------------------------*/

TD.portada-titulo {
	font-size: 18px;
	color: #094384;
	text-align: center;
	font-weight: bold;
	padding: 5px 10px 5px 10px ;
}

TD.portada-comentario {
	font-size: 10px;
	color: #10728D;
	text-align: center;
}

/*-----------------------------<  PARRAFO  >-------------------------------*/

.texto-ss {
 	font-family: Courier,Courier New,  mono;
 	text-align: left;		
	font-size: 9px;
}

.texto {
	color: #083C76;
 	text-align: left;		
	font-size: 12px;
}

.texto-2 {
	color: #083C76;
 	text-align: left;		
	font-size: 12px;
}

/*-----------------------------<  CRONOMETRO  >-------------------------------*/


TD.cron-base {
	font-weight: bold; 
	color: #E5E6C9; 
	background-color: #11519D; 
	text-align: left;
	padding: 2px 1px 2px 0px ;
	border-bottom: 1px dashed #125CB6;
}

TD.cron-nucleo {
	font-weight: bold; 
	color: #E5E6C9; 
	background-color: #F1F3E4; 
	text-align: left;
	border-top: 1px solid #125CB6;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.cron-objeto {
	font-weight: bold; 
	color: #E5E6C9; 
	background-color: #F3F5E9; 
	text-align: left;
	border-top: 1px solid #125CB6;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.cron-item {
	font-weight: bold; 
	color: #E5E6C9; 
	background-color: #EDF0DB; 
	text-align: left;
	border-top: 1px solid #125CB6;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.cron-lib {
	font-weight: bold; 
	color: #E5E6C9; 
	background-color: #F5F7EB; 
	text-align: left;
	border-top: 1px solid #125CB6;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.cron-basura {
	font-weight: bold; 
	color: #E5E6C9; 
	background-color: #11519D; 
	text-align: left;
	border-top: 1px solid #125CB6;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

/*---------------------------------------------------------------------------------------
----------------------------------< Estilos de columnas >----------------------------
---------------------------------------------------------------------------------------
Estos son los elementos referenciados desde apex_columna_estilo
*/

/*-- Numericos */

TD.col-num-p1 {
	color: #083C76;
	background-color: #ffffff;
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.col-num-p2 {
	color: #083C76;
	background-color: #125CB6;
	text-align: right;
	padding: 2;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.col-num-p3 {
	color: #083C76;
	background-color: #E5E6C9;
	text-align: right;
	padding: 2;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.col-num-p4 {
	color: #083C76; 
	background-color: #F1F3E4; 
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

/*-- Texto */

TD.col-tex-p1 {
	color: #000011;
	background-color: #ffffff;
	text-align: left;
	padding: 2;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}


TD.col-tex-p2 {
	color: #EDF0DB;
	background-color: #ffffff;
	font-weight: bold; 
	text-align: left;
	padding: 2;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.col-tex-p3 {
	color: #083C76;
	background-color: #1257AB;
	padding: 2;
	text-align: left;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

/*-- Especiales (centradas) */

TD.col-cen-s1 {
	color: #083C76;
	background-color: #F1F3E4;
	text-align: center;
	padding: 2;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}


TD.col-cen-s2 {
	color: #F7FAF1;
	background-color: #10728D;
	text-align: center;
	padding: 2;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

/*----------------------------------------------------------------------*/

TD.objeto-editores {
	background-color: #11519D;
	border-bottom: 1px solid #000011;
}

TD.objeto-editores-reflexivo {
	background-color: #F3F5E9;
	border-bottom: 1px solid #000011;
}

TD.objeto-barra-seccion {
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	background-color: #10728D;
	text-align: left;
	padding: 3px 3px 3px 3px ;
	border-top: 2px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 2px solid #094384;
	border-right: 1px solid #094384;
}

TD.objeto-barra-superior {
	font-weight: bold;
	font-size: 11px;
	color: #E5E6C9;
	background-color: #094384;
	text-align: left;
	padding: 3px 3px 3px 3px ;
	border-top: 1px solid #11519D;
	border-left: 1px solid #11519D;
	border-bottom: 1px solid #11519D;
	border-right: 1px solid #11519D;
}

TD.objeto-barra-superior-botones {
	font-weight: bold;
	font-size: 11px;
	color: #E5E6C9;
	background-color: #083C76;
	text-align: left;
	padding: 3px 3px 3px 3px ;
	border-top: 1px solid #11519D;
	border-left: 1px solid #11519D;
	border-bottom: 1px solid #11519D;
	border-right: 1px solid #11519D;
}

TABLE.objeto-base {
	text-align: center;
	align: center;
	border-collapse: collapse;
	background-color: #ffffff;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
	border-top: 2px solid #083C76;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #083C76;
	border-right: 2px solid #083C76;
}

TABLE.abm {
	background-color: #125CB6;
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 2px solid #083C76;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #083C76;
	border-right: 2px solid #083C76;
}

TD.abm-titulo
{
	font-weight: bold;
	font-size: 11px;
	color: #E5E6C9;
	background-color: #094384;
	text-align: left;
	padding: 5px 5px 5px 5px ;
	border-top: 1px solid #11519D;
	border-left: 1px solid #11519D;
	border-bottom: 1px solid #11519D;
	border-right: 1px solid #11519D;
}

TD.abm-zona-botones
{
	font-weight: bold;
	font-size: 8px;
	color: #E5E6C9;
	background-color: #094384;
	text-align: right;
	padding: 3px 3px 3px 3px ;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.abm-fila
{
	font-size: 8px;
	color: #083C76;
	background-color: #E5E6C9;
	text-align: left;
	padding: 0px 3px 0px 3px ;
	margin: 0px 0px 0px 0px ;
}

TD.abm-fila-ml
{
	font-size: 8px;
	color: #083C76;
	background-color: #E5E6C9;
	text-align: center;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	/* border-right: 1px solid #10728D; */
}

TD.abm-columna
{
	font-size: 10px;
	color: #083C76;
	background-color: #11519D;
	text-align: center;
	padding: 2px 2px 4px 2px ;
	border-top: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #10728D;
}

TD.abm-total
{
	font-size: 10px;
	color: #083C76;
	background-color: #1257AB;
	text-align: center;
	padding: 2px 0px 2px 0px ;
	border-top: 1px solid #094384;
	border-bottom: 1px solid #094384;
}

.abm-input-eliminar
{
	font-weight: bold;
	font-size: 11px;
	color: #094384;
	background-color: #F3F5E9;
/*
	border-top: 1px solid #11519D;
	border-left: 1px solid #11519D;
	border-bottom: 1px solid #11519D;
	border-right: 1px solid #11519D;
*/
}

.abm-input
{
	font-size: 11px;
	color: #083C76;
	background-color: #ffffff;
/*	border-top: 1px solid #11519D;	border-left: 1px solid #11519D;	border-bottom: 1px solid #11519D;	border-right: 1px solid #11519D;*/
}
/*  ------------------------------ FILTRO -------------------------  */

.parametro-item {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #083C76; 
	BACKGROUND-COLOR: #F3F5E9; 
	TEXT-ALIGN: left;
	border: 1px inset #083C76;
}
.parametro-item-activado {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #083C76;
	BACKGROUND-COLOR: #eeaa77; 
	TEXT-ALIGN: left;
	border: 1px inset #083C76;
}
.parametro-tabla {
	FONT-SIZE: 12px;
	COLOR: #000011;
	BACKGROUND-COLOR: #9999AA;
	TEXT-ALIGN: center;
}
.parametro-fila {
	FONT-SIZE: 12px;
	COLOR: #000011;
	BACKGROUND-COLOR: #9999AA;
	TEXT-ALIGN: left;
}
.filtro-titulo
{
	font-weight: bold;
	font-size: 11px;
	color: #E5E6C9;
	background-color: #094384;
	text-align: left;
	padding: 5px 5px 5px 5px ;
	border-top: 1px solid #11519D;
	border-left: 1px solid #11519D;
	border-bottom: 1px solid #11519D;
	border-right: 1px solid #11519D;
}
.filtro-item {
	color: #E5E6C9;
	background-color: #E5E6C9;
	text-align: left;
	padding: 0px 0px 0px 0px ;
	border-top: 1px solid #11519D;
}

input.parametros_boton
{
    font-size: 10px;
    color: #11519D;
}
input.parametros
{
    border: #666677 2px solid;
    font-size: 10px;
    color: #666677;
    font-family: verdana, arial;
    background-color: #1257AB
	 TEXT-ALIGN: right;
}
select.parametros
{
    font-size: 10px;
    color: #083C76;
    background-color: #11519D;
    border-bottom: #9999AA 1px solid;
    border-left: #9999AA 1px solid;
    border-right: #9999AA 1px solid;
    border-top: #9999AA 1px solid;
}
/*  ------------------------------------------------------------  
    ------------------------------ HOJA ------------------------- 
    -------------------------------------------------------------  */

A.hoja-drill {
	text-decoration: none; 
	color: #083C76;
	font-weight: bold; 
	text-align: left;
	padding: 2;
}

TABLE.hoja-tabla {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
}

/*----------------------------- TITULOS -------------------------*/

.hoja-titulo
{
	font-weight: bold;
	font-size: 11px;
	color: #E5E6C9;
	background-color: #094384;
	text-align: left;
	padding: 5px 5px 5px 5px ;
}

TD.hoja-serie-nombre {
	font-weight: bold; 
	color: #F7FAF1; 
	background-color: #10728D; 
	text-align: center;
}

TD.hoja-serie-nombre-b {
	font-weight: bold; 
	color: #F7FAF1; 
	background-color: #10728D; 
	text-align: center;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.hoja-titulo-col {
	color: #083C76; 
	background-color: #1257AB; 
	text-align: center;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

/*------------------------------- DATOS ----------------------------*/

TD.hoja-dato-desc {
	color: #083C76;
	background-color: #11519D;
	font-weight: bold; 
	text-align: left;
	padding: 2;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.hoja-dato-desc2 {
	color: #083C76;
	background-color: #11519D;
	font-weight: bold; 
	text-align: center;
	padding: 2;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.hoja-dato-0 {
	color: #083C76; 
	background-color: #ffffff; 
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.hoja-dato-1 {
	color: #083C76;
	background-color: #F7FAF1;
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.hoja-dato-2 {
	color: #083C76;
	background-color: #10728D;
	text-align: right;
	padding: 2;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

/*--------------------------------- TOTAL -----------------------------*/

TD.hoja-total-desc {
	color: #F7FAF1;
	background-color: #094384;
	text-align: left;
	font-weight: bold; 
	padding: 2;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.hoja-total-desc2 {
	color: #F7FAF1;
	background-color: #094384;
	text-align: center;
	font-weight: bold; 
	padding: 2;
	border-top: 1px solid #11519D;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

TD.hoja-total-0 {
	color: #083C76;
	background-color: #F5F7EB;
	text-align: right;	
	border-top: 1px solid #EDF0DB;
	border-left: 1px solid #EDF0DB;
	border-bottom: 1px solid #EDF0DB;
	border-right: 1px solid #EDF0DB;
}

TD.hoja-total-1 {
	color: #083C76;
	background-color: #F3F5E9;
	font-weight: bold; 
	text-align: right;
	border-top: 1px solid #EDF0DB;
	border-left: 1px solid #EDF0DB;
	border-bottom: 1px solid #EDF0DB;
	border-right: 1px solid #EDF0DB;
}

/*----------------------------------------------------------------------*/

.hoja-texto-0 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #083C76;
	TEXT-ALIGN: right;
}

.hoja-titulo {
	FONT-WEIGHT: normal;
	FONT-SIZE: 18px;
	COLOR: #083C76;
	TEXT-ALIGN: right;
}

/*  ------------------------------ lista -------------------------  */

TABLE.lista-tabla {
	border-collapse: collapse;
	background-color: #083C76;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	font-size: 10px;
	border-top: 2px solid #083C76;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #083C76;
	border-right: 2px solid #083C76;
}

A.lista-link {
	text-decoration: none; 
	color: #083C76; 
}

TD.lista-titulo {
	font-size: 12px;
	font-weight: bold; 
	color: #ffffff; 
	background-color: #094384; 
	text-align: left;
	padding: 10,10,5,10;
}

TD.lista-subtitulo {
	font-size: 10px;
	color: #ffffff; 
	background-color: #094384; 
	text-align: left;
	padding: 5,5,5,10;
}

TD.lista-col-titulo {
	font-weight: bold; 
	color: #E5E6C9; 
	background-color: #10728D; 
	text-align: center;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.lista-fila-titulo {
	font-weight: bold; 
	color: #E5E6C9; 
	background-color: #10728D; 
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
	white-space: nowrap;
}

TD.lista-vinculo {
	color: #083C76; 
	background-color: #1257AB; 
	padding: 2;
	text-align: center;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384
}

TD.lista-c {
	color: #083C76; 
	background-color: #ffffff; 
	padding: 2;
	text-align: center;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384
}

TD.lista-t {
	color: #083C76; 
	background-color: #ffffff; 
	padding: 2;
	text-align: left;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384
}

TD.lista-n {
	color: #083C76; 
	background-color: #ffffff; 
	padding: 2;
	text-align: right;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384
}

TD.lista-e {
	color: #083C76; 
	background-color: #F5F7EB; 
	padding: 2;
	text-align: center;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384
}

TD.lista-e2 {
	color: #083C76; 
	background-color: #F3F5E9; 
	padding: 2;
	text-align: center;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384
}/*-----------  CABECERA ------------*/

TD.doc-archivo {
	padding: 10,5,2,15;
	font-size: 12px;
	color: #083C76;
	text-align: left;
}

TD.doc-archivo-tipo {
	padding: 0,5,2,15;
	font-size: 10px;
	color: #083C76;
	text-align: left;
}

/*-----------  CLASES ------------*/

DIV.doc-clase-nombre {
	padding: 0,5,15,0;
	font-size:22px;
	font-weight: bold;
	color: #EDF0DB;
	text-align: left;
}

DIV.doc-clase-desc {
	padding: 0,5,10,20;
	font-size:11px;
	color: #083C76;
	text-align: left;
}

DIV.doc-clase-seccion {
	padding: 0,5,10,0;
	font-size:14px;
	font-weight: bold;
	color: #083C76;
	text-align: left;
}
/*-----------  FUNCIONES ------------*/

TD.doc-func-nombre {
	padding: 0,5,2,5;
	font-size: 18px;
	color: #083C76;
	background-color: #1257AB;
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 2px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.doc-func-etiqueta {
	padding: 0,5,2,5;
	font-size: 11px;
	color: #EDF0DB;
	background-color: #F5F7EB;
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.doc-func-valor {
	padding: 0,5,2,5;
	font-size: 10px;
	color: #083C76;
	background-color: #ffffff;
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.doc-func-acceso {
	padding: 0,5,2,5;
	font-size: 10px;
	font-weight: bold;
	color: #EDF0DB;
	background-color: #ffffff;
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

OL.doc-func-lista {
	padding: 0,5,2,5;
	margin-bottom:0;
	margin-top:0;
}

DIV.doc-func-param-opcional {
	padding: 0,5,2,5;
	font-size: 10px;
	color: #F1F3E4;
	text-align: left;
}

DIV.doc-func-param-obligatorio {
	padding: 0,5,2,5;
	font-size: 10px;
	color: #083C76;
	text-align: left;
}/*------------------------ ELEMENTOS de FORMULARIO ----------------------*/

TD.ef-etiqueta-obligatorio
{
	font-weight: bold; 
	font-size: 10px;
	color: #DC143C;
	background-color: #F1F3E4;
	text-align: left;
	padding: 0px 2px 0px 4px ;
	border-top: 1px solid #094384;
	border-bottom: 1px solid #094384;

/*
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
*/
}


TD.ef-etiqueta
{
/*	font-weight: bold; */
	font-size: 10px;
	color: #083C76;
	background-color: #F1F3E4;
	text-align: left;
	padding: 0px 2px 0px 4px ;
	border-top: 1px solid #F1F3E4;
	border-bottom: 1px solid #094384;

/*
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
*/
}

TD.ef-etiqueta-error
{
/*	font-weight: bold; */
	font-size: 10px;
	color: #ffffff;
	background-color: #DC143C;
	text-align: left;
	padding: 0px 2px 0px 4px ;
	border-top: 1px solid #094384;
	border-bottom: 1px solid #094384;

/*
	border-left: 1px solid #094384;
	border-right: 1px solid #094384;
*/
}


TD.ef-zonainput
{
	font-weight: bold;
	font-size: 10px;
	color: #083C76;
	background-color: #EDF0DB;
	text-align: left;
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
}

.ef-boton
{
	font-size: 10px;
	color: #083C76;
}

.ef-input
{
	font-size: 10px;
	color: #083C76;
	background-color: #F1F3E4;
/*
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
*/
}

.ef-input-file
{
	font-size: 10px;
	color: #083C76;
	background-color: #F3F5E9;
/*
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
*/
}

.ef-input-numero
{
	font-size: 10px;
	color: #083C76;
	background-color: #F3F5E9;
	text-align: right;
/*
	border-top: 1px solid #094384;
	border-left: 1px solid #094384;
	border-bottom: 1px solid #094384;
	border-right: 1px solid #094384;
*/
}

.ef-input-numero-2
{
	font-size: 10px;
	color: #F1F3E4;
	background-color: #F3F5E9;
	text-align: right;
}

.ef-input-numero-3
{
	font-size: 10px;
/*	font-weight: bold; */
	color: #083C76;
	background-color: #F3F5E9;
	text-align: right;
}

.ef-textarea
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #083C76;
	background-color: #F3F5E9
}

.ef-combo
{
	font-size: 10px;
	color: #083C76;
	background-color: #F3F5E9;
	border-top: 0px solid #094384;
	border-left: 0px solid #094384;
	border-bottom: 0px solid #094384;
	border-right: 0px solid #094384;
}

.ef-checkbox
{
	font-size: 10px;
	color: #083C76;
	background-color: #F3F5E9;
}

/*------------------ ELEMENTOS de INTERFACE --------------------*/

TD.ei-cuerpo {
	font-size: 10px;
	color: #125CB6;
	background-color: #F1F3E4;
	text-align: left;
	padding: 2px 2px 2px 2px ;
}

TD.ei-base {
	font-size: 10px;
	color: #1257AB;
	background-color: #1257AB;
	text-align: left;
	padding: 4px 4px 4px 4px ;
}

TD.ci-cuerpo {
	font-size: 10px;
	color: #ffffff;
	background-color: #125CB6;
	text-align: left;
	padding: 10px 10px 10px 10px ;
}

TD.objeto-ei-barra-superior {
	font-weight: bold;
	font-size: 11px;
	color: #E5E6C9;
	background-color: #094384;
	text-align: left;
	padding: 3px 3px 3px 3px ;
}
/*----------------------------------------------------------------*//*------------------ ELEMENTOS de INTERFACE --------------------*/

TD.ei-cuerpo {
	font-size: 10px;
	color: #125CB6;
	background-color: #094384;
	text-align: left;
	padding: 2px 2px 2px 2px ;
}

TD.ei-base {
	font-size: 10px;
	color: #1257AB;
	background-color: #1257AB;
	text-align: left;
	padding: 4px 4px 4px 4px ;
}

TD.ci-cuerpo {
	font-size: 10px;
	color: #ffffff;
	background-color: #125CB6;
	text-align: left;
	padding: 10px 10px 10px 10px ;
}

TD.objeto-ei-barra-superior {
	font-weight: bold;
	font-size: 11px;
	color: #E5E6C9;
	background-color: #094384;
	text-align: left;
	padding: 3px 3px 3px 3px ;
}
/*----------------------------------------------------------------*/TD.grafico-titulo {
	font-size: 12px;
	color: #125CB6;
	font-weight: bold;
	background-color: #083C76;
	text-align: left;
	padding: 8,4,4,10;
}

TD.grafico-subtitulo {
	font-size: 12px;
	color: #125CB6;
	font-weight: bold;
	background-color: #083C76;
	text-align: left;
	padding: 8,4,4,10;
}

TD.grafico-vacio {
	color: #125CB6;
	background-color: #094384;
	text-align: center;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
	padding: 0,0,0,0;
}

TD.grafico-leyenda-muestra {
	border-top: 1px solid #000011;
	border-left: 1px solid #000011;
	border-bottom: 1px solid #000011;
	border-right: 1px solid #000011;
}

TD.grafico-leyenda-texto {
	padding: 0,5,2,5;
	font-size: 10px;
	text-align: left;
	color: #125CB6;
	background-color: #094384;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 0px solid #083C76;
}

TD.grafico-objeto {
	padding: 0,0,0,0;
	font-size: 10px;
	font-weight: bold;
	color: #125CB6;
	background-color: #10728D;
	text-align: left;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 4px solid #083C76;
}/*---------------------------- CABECERA -------------------------*/

TD.lista-pag-bot {
	font-size: 11px;
	color: #083C76;
	background-color: #11519D;
	text-align: right;
	padding: 2px 2px 2px 2px ;
}

TABLE.listado-base {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TD.listado-barra-superior {
	background-color: #083C76;
	text-align: right;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TD.listado-barra-superior-tabn {
	font-size: 11px;
	color: #1257AB;
	text-align: center;
	padding: 2px 8px 2px 8px ;
	margin: 0px 0px 0px 0px ;
	background-color: #094384;
	border-top: 1px solid #10728D;
	border-right: 1px solid #10728D;
	border-left: 1px solid #10728D;
	border-bottom: 1px solid #10728D;
}

TD.listado-barra-superior-tabn-m {
	font-size: 11px;
	color: #10728D;
	text-align: center;
	padding: 2px 8px 2px 8px ;
	margin: 0px 0px 0px 0px ;
	background-color: #F3F5E9;
	border-top: 1px solid #10728D;
	border-right: 1px solid #10728D;
	border-left: 1px solid #10728D;
	border-bottom: 1px solid #10728D;
}

/* celda tipo icono */
TD.listado-barra-superior-tabi {
	font-size: 11px;
	color: #10728D;
	font-weight: bold;
	text-align: center;
	padding: 2px 2px 2px 2px ;
	margin: 0px 0px 0px 0px ;
	background-color: #094384;
	border-top: 1px solid #10728D;
	border-right: 1px solid #10728D;
	border-left: 1px solid #10728D;
	border-bottom: 1px solid #10728D;
}

TD.listado-barra-superior-tabi2 {
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	background-color: #094384;
}

/* celda tipo icono */
TD.listado-barra-superior-tabi {
	font-size: 11px;
	color: #10728D;
	font-weight: bold;
	text-align: center;
	padding: 0px 2px 0px 2px ;
	margin: 0px 0px 0px 0px ;
	background-color: #094384;
	border-top: 1px solid #10728D;
	border-right: 1px solid #10728D;
	border-left: 1px solid #10728D;
	border-bottom: 1px solid #10728D;
}

TD.listado-linea {
	background-color: #10728D;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TD.listado-vacia {
	text-align: right;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

A.listado-tabn-l {
	text-decoration: none; 
	color: none; 
}

/* celda tipo nombre */
TD.listado-tabn {
	font-size: 10px;
	color: #10728D;
	text-align: center;
	padding: 2px 2px 2px 2px ;
	margin: 0px 0px 0px 0px ;
	background-color: #094384;
	border-top: 1px solid #11519D;
	border-right: 1px solid #11519D;
	border-left: 1px solid #11519D;
	border-bottom: 1px solid #11519D;
}

TD.listado-tabn-m {
	font-size: 10px;
	color: #10728D;
	text-align: center;
	padding: 2px 2px 2px 2px ;
	margin: 0px 0px 0px 0px ;
	background-color: #083C76;
	border-top: 1px solid #11519D;
	border-right: 1px solid #11519D;
	border-left: 1px solid #11519D;
	border-bottom: 1px solid #11519D;
}

/* celda tipo icono */
TD.listado-tabi {
	font-size: 11px;
	color: #10728D;
	font-weight: bold;
	text-align: center;
	padding: 2px 2px 2px 2px ;
	margin: 0px 0px 0px 0px ;
	background-color: #10728D;
	border-top: 1px solid #11519D;
	border-right: 1px solid #11519D;
	border-left: 1px solid #11519D;
	border-bottom: 1px solid #11519D;
}

TD.listado-normal {
	font-size: 11px;
	color: #125CB6;
	background-color: #094384;
	text-align: center;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	/*border-top: 1px solid #11519D;
	border-right: 2px solid #11519D;
	border-left: 2px solid #11519D;
	border-bottom: 1px solid #083C76;*/
}

TD.lista-parametro {
	font-size: 10px;
	color: #083C76;
	background-color: #F5F7EB;
	/*font-weight: bold;*/
	text-align: right;
	padding: 2px 5px 2px 5px ;
	border-bottom: 1px dotted #094384;
/*
	border-top: 2px solid #11519D;
	border-left: 2px solid #083C76;
	border-right: 2px solid #083C76;
*/
}


/*---------------------------- LISTADO DE ITEMS -------------------------*/

A.cat-item {
	text-decoration: none; 
	color: #083C76; 
}	

TABLE.cat-item {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TABLE.cat-item2 {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 2px solid #083C76;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #083C76;
	border-right: 2px solid #083C76;
}

TD.cat-item-opcion {
	text-align: left;
	font-size: 10px;
	color: #F7FAF1;
	background-color: #083C76;
	border-top: 1px solid #F7FAF1;
}

TD.cat-item-titulo {
	font-size: 12px;
	color: #125CB6;
	background-color: #094384;
	font-weight: bold;
	text-align: center;
	border-top: 2px solid #083C76;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #083C76;
	border-right: 2px solid #083C76;
}

TD.cat-item-botones {
	background-color: #10728D;
	border-top: 1px inset #083C76;
	border-bottom: 1px solid #000011;
}

TD.cat-item-botones2 {
	background-color: #11519D;
	border-bottom: 1px solid #000011;
}

TD.cat-item-categ1 {
	text-align: left;
	font-size: 11px;
	color: #083C76;
	background-color: #F3F5E9;
	padding: 2px 5px 2px 5px ;
}

TD.cat-item-titcol {
	font-size: 10px;
	color: #125CB6;
	font-weight: bold;
	background-color: #094384;
	text-align: center;
	border-top: 2px solid #083C76;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #083C76;
	border-right: 2px solid #083C76;
}

TD.cat-item-dato1 {
	font-size: 9px;
	color: #083C76;
	background-color: #125CB6;
	text-align: left;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.cat-item-dato1-nb {
	font-size: 9px;
	color: #083C76;
	background-color: #125CB6;
	text-align: left;
	border-bottom: 1px solid #083C76;
}

TD.cat-item-dato2 {
	font-size: 9px;
	color: #125CB6;
	background-color: #10728D;
	font-weight: bold;
	text-align: left;
	border-top: 1px outset #083C76;
	border-bottom: 1px solid #083C76;
}

TD.cat-item-dato3 {
	font-size: 9px;
	color: #000011;
	background-color: #ffffff;
	text-align: right;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.cat-item-dato4 {
	font-size: 9px;
	color: #EDF0DB;
	background-color: #F5F7EB;
	text-align: left;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.cat-item-dato4-nb {
	font-size: 9px;
	color: #EDF0DB;
	background-color: #F5F7EB;
	text-align: left;
	border-bottom: 1px solid #083C76;
}

TD.cat-item-dato5 {
	font-size: 9px;
	color: #ffffff;
	background-color: #F3F5E9;
	text-align: left;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.cat-item-dato5-nb {
	font-size: 9px;
	color: #ffffff;
	background-color: #F3F5E9;
	text-align: left;
	border-bottom: 1px solid #083C76;
}


TD.cat-arbol-carpeta {
	background-color: #10728D;
	border-top: 4px outset #083C76;
	border-left: 1px solid #094384;
	/*border-bottom: 1px solid #000011;*/
}

TD.cat-arbol-carpeta-info {
	font-size: 10px;
	color: #ffffff;
	background-color: #10728D;
	font-weight: bold;
	text-align: left;
	border-top: 4px outset #083C76;
	border-bottom: 1px solid #083C76;
}

TD.cat-arbol-item {
	background-color: #11519D;
	border-bottom: 1px solid #000011;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
}


TD.cat-arbol {
	background-color: #10728D;
	/*border-right: 1px solid #125CB6;*/
	border-left: 2px solid #083C76;
	/* border-bottom: 1px solid #F1F3E4; */
}

/*---------------------------- LISTADO DE OBJETOS -------------------------*/

A.list-obj {
	text-decoration: none; 
	color: #125CB6; 
}	

TABLE.lista-obj {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 0px solid #083C76;
	border-left: 0px solid #083C76;
	border-bottom: 0px solid #083C76;
	border-right: 0px solid #083C76;
}

TABLE.lista-obj2 {
	border-collapse: collapse;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
	border-top: 1px solid #083C76;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
	border-right: 1px solid #083C76;
}

TD.lista-obj-opcion {
	text-align: left;
	font-size: 10px;
	color: #F7FAF1;
	background-color: #083C76;
	border-top: 1px solid #F7FAF1;
}

TD.lista-obj-titulo {
	font-size: 11px;
	color: #F7FAF1;
	background-color: #F1F3E4;
	text-align: center;
	padding: 3px 3px 4px 1px ;
}

TD.lista-obj-botones {
	background-color: #11519D;
	border-bottom: 1px solid #000011;
}

TD.lista-obj-botonesb {
	background-color: #094384;
	border-bottom: 1px solid #000011;
}

TD.lista-obj-botones2 {
	background-color: #094384;
	border-bottom: 1px solid #000011;
}

TD.lista-obj-categ1 {
	text-align: left;
	font-size: 10px;
	color: #F7FAF1;
	background-color: #083C76;
	padding: 5px 5px 5px 5px ;
	border-top: 1px solid #F7FAF1;
}

TD.lista-obj-titcol {
	font-size: 10px;
	color: #125CB6;
	font-weight: bold;
	background-color: #094384;
	text-align: center;
	border-top: 2px solid #083C76;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #083C76;
	border-right: 2px solid #083C76;
}

TD.lista-obj-dato1 {
	font-size: 9px;
	text-align: left;
	color: #094384;
	background-color: #ffffff;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.lista-obj-dato1b {
	font-size: 9px;
	text-align: left;
	color: #F1F3E4;
	background-color: #F7FAF1;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}


TD.lista-obj-dato2 {
	font-size: 9px;
	color: #083C76;
	background-color: #1257AB;
	text-align: left;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.lista-obj-dato2b {
	font-size: 9px;
	color: #083C76;
	background-color: #11519D;
	text-align: left;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.lista-obj-dato3 {
	font-size: 9px;
	color: #10728D;
	background-color: #ffffff;
	text-align: right;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.lista-obj-dato3b {
	font-size: 9px;
	color: #F1F3E4;
	background-color: #F7FAF1;
	text-align: right;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.lista-obj-dato4 {
	font-size: 9px;
	color: #083C76;
	background-color: #F5F7EB;
	text-align: left;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.lista-obj-dato5 {
	font-size: 9px;
	color: #ECECF0;
	background-color: #F1F3E4;
	text-align: left;
	border-left: 1px solid #083C76;
	border-bottom: 1px solid #083C76;
}

TD.lista-obj-clase {
	font-size: 9px;
	text-align: left;
	color: #083C76;
	background-color: #10728D;
	border-left: 1px solid #11519D;
	border-bottom: 1px solid #083C76;
}


/*------------------------ ELEMENTOS de FORMULARIO ----------------------*/

TD.tabs-solapa {
	background-color: #EDF0DB; 
	text-align: center;
	border-bottom: 2px solid #E5E6C9;
	border-top: 2px solid #E5E6C9;
	border-right: 2px solid #E5E6C9;
	border-left: 2px solid #E5E6C9;
	white-space: nowrap;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

INPUT.tabs-boton
{
	white-space: nowrap;
	font-size: 11px;
	color: #083C76;
	background-color: #10728D;
	border-top: 1px solid #10728D;
	border-left: 1px solid #10728D;
	border-bottom: 1px solid #10728D;
	border-right: 1px solid #10728D;
	padding: 3px 0px 0px 0px ;
}


TD.tabs-solapa-sel {
	background-color: #EDF0DB; 
	text-align: center;
	border-top: 2px solid #11519D;
	border-right: 2px solid #11519D;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #10728D;
	white-space: nowrap;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

INPUT.tabs-boton-sel
{
	white-space: nowrap;
	font-weight: bold; 
	font-size: 11px;
	color: #083C76;
	background-color: #10728D;
	border-top: 1px solid #10728D;
	border-left: 1px solid #10728D;
	border-bottom: 1px solid #10728D;
	border-right: 1px solid #10728D;
	padding: 3px 0px 0px 0px ;
}

TD.tabs-solapa-hueco {
	border-bottom: 2px solid #11519D;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TD.tabs-contenedor {
	background-color: #10728D; 
	text-align: center;
	border-right: 2px solid #11519D;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #083C76;
	padding: 10px 7px 10px 7px ;
	margin: 0px 0px 0px 0px ;
}

TABLE.objeto-base-3d {
	text-align: center;
	align: center;
	border-collapse: collapse;
	background-color: #083C76;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 5px 0px ;
	font-size: 10px;
	border-top: 2px solid #083C76;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #666677;
	border-right: 2px solid #CCCCDD;
}

/*------------------------ ELEMENTOS de FORMULARIO ----------------------*/

TD.tabs-solapa {
	background-color: #EDF0DB; 
	text-align: center;
	border-bottom: 2px solid #E5E6C9;
	border-top: 2px solid #E5E6C9;
	border-right: 2px solid #E5E6C9;
	border-left: 2px solid #E5E6C9;
	white-space: nowrap;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

INPUT.tabs-boton
{
	white-space: nowrap;
	font-size: 11px;
	color: #083C76;
	background-color: #10728D;
	border-top: 1px solid #10728D;
	border-left: 1px solid #10728D;
	border-bottom: 1px solid #10728D;
	border-right: 1px solid #10728D;
	padding: 3px 0px 0px 0px ;
}


TD.tabs-solapa-sel {
	background-color: #10728D; 
	text-align: center;
	border-top: 2px solid #11519D;
	border-right: 2px solid #11519D;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #10728D;
	white-space: nowrap;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

INPUT.tabs-boton-sel
{
	white-space: nowrap;
	font-weight: bold; 
	font-size: 11px;
	color: #083C76;
	background-color: #10728D;
	border-top: 1px solid #10728D;
	border-left: 1px solid #10728D;
	border-bottom: 1px solid #10728D;
	border-right: 1px solid #10728D;
	padding: 3px 0px 0px 0px ;
}

TD.tabs-solapa-hueco {
	border-bottom: 2px solid #11519D;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

TD.tabs-contenedor {
	background-color: #10728D; 
	text-align: center;
	border-right: 2px solid #11519D;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #083C76;
	padding: 10px 7px 10px 7px ;
	margin: 0px 0px 0px 0px ;
}

TABLE.objeto-base-3d {
	text-align: center;
	align: center;
	border-collapse: collapse;
	background-color: #083C76;
	empty-cells: show;
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 5px 0px ;
	font-size: 10px;
	border-top: 2px solid #083C76;
	border-left: 2px solid #083C76;
	border-bottom: 2px solid #666677;
	border-right: 2px solid #CCCCDD;
}

