
/*********************
	ESTILOS ADMIN
**********************/
.div-editor {
	border: 1px solid orange; 
	background-color: yellow; 
	padding: 1px;
}
body .div-editor { 
	position: fixed;
	_position: absolute;
	left: 0px;
}
body * .div-editor {
	position: static;
}
#vinculo_logger {
	white-space: nowrap;
	text-decoration: none;
	color: white;
}

/*************************************
			Estilos Generales
**************************************/

form {
	padding: 0;
	margin: 0;
}
img {
	margin: 0;
}
.div-esperar {
	border: 1px solid black; 
	position: absolute; 
	text-align: center; 
	background-color: white; 
	width: 100px;
	right: 0px;
	font-weight: bold;
}
body, textarea {
	font: normal normal normal 10px Verdana, Arial, Helvetica, sans-serif; 
}
input, select {
	font-size: 10px;
}
body {
	padding: 0px;
	margin: 0px;
    height:100%;
	background-color: #e9e8e8;
}
body > .div-esperar { position: fixed; }

.ayuda {
	cursor: help;
	_cursor: auto;	/* Hack IE */
}
a > .ayuda, a.ayuda, button.ayuda {
	cursor: pointer;
}
.cuerpo {
	margin-top: 15px; 
	margin-bottom: 15px;
}

/*************************************
		Elementos de Interface
**************************************/
.ei-base {
	border-right: #404040 1px solid;
	border-top: #ffffff 1px solid;	
	border-left: #ffffff 1px solid;	
	border-bottom: #404040 1px solid;
	padding: 0;
	margin: 0;	
	border-collapse: collapse;
	background-color: #d4d0c8;
	text-align: left;
	empty-cells: hide;
}
.ei-cuerpo {}
.ei-barra-sup {
	border: 1px solid #a7a5a6;
	padding: 3px;
	color: #ffffff;
	background-color: #808080;
	text-align: left;
	padding: 4px;
}
.ei-barra-sup-desc {
	float: right;
}
.ei-barra-sup-tit {
	font-weight: bold;
	font-size: 11px;	
	margin-left: 4px;
	margin-right: 4px;
}
.ei-barra-sup-iconos {
	float: left;
}
.ei-barra-colapsar {}
.ei-barra-mensajeria {
	float: right;
}
.ei-botonera {
	clear: both;
	text-align: right;	
}
.ei-boton, .ei-boton-alta, .ei-boton-mod, .ei-boton-canc {
	font-size: 11px;
	color: #231f20;
	height: 24px;
	background-color: #ffffff
}
.ei-boton-baja, .ei-boton-filtrar {
	font-weight: bold;
	font-size: 11px;
	color: #000000;
	height: 24px;	 
	background-color: #f9c6c6;
}
.ei-boton-fila {
	font-size: 11px;
	color: #231f20;
	background-color: #d4d0c8; 
}

/*************************
		Form. Común
**************************/

.ei-form-base, ei-form-cuerpo {}
.ei-form-fila {
	padding: 0px 10px 5px 8px;
	margin: 0;
	text-align: left;
	clear:both;
	white-space: nowrap;
	vertical-align: middle;
}
.ei-form-fila-oculta, .ei-form-fila-filtrada {
	background-color: #E7E4E0;
}
.ei-form-expansion {
	text-align:center;
}

.ei-form-etiq, .ei-form-etiq-oblig {
	float: left;
	margin-right: 4px;
}
.ei-form-etiq-oblig {
	font-weight: bold;
}

/*************************
		Form. ML
**************************/

.ei-ml {}
.ei-ml-grilla {
	padding: 0;
	margin: 0;		
	BORDER-COLLAPSE: collapse;
	empty-cells: hide;
}

.ei-ml-columna {
	padding: 2px 2px 4px 2px;
	vertical-align: bottom;
	color: #231f20;
	text-align: center;
	font-weight: normal;
}

.ei-ml-fila, .ei-ml-fila-selec {
	padding: 0px 3px 0px 3px;
	margin: 0px;
}
.ei-ml-fila-selec {
	background-color: #a4a098
}
.ei-ml-fila-total {
	padding: 2px 0px 2px 0px;
	color: #000000;
	text-align: center;
}
.ei-ml-etiq, .ei-ml-etiq-oblig {
	text-align: center;
}
.ei-ml-etiq-oblig {
	font-weight: bold;
}

/*****************
		EFS
******************/
.ef-input, .ef-upload {
	background-color: #fffdf9
}

.ef-multi-check, .ef-radio, .ef-fecha, .ef-popup{
	white-space: nowrap;
	display: block;
}
.ef-fecha img, .ef-popup img {
	vertical-align: top;
}
.ef-fijo {
	text-align: left;
}
.ef-multi-sel-todos {
	font-size: 9px;
	white-space: nowrap;
}
.ef-multi-doble-boton {
	cursor: pointer;
	cursor: hand;	
}
.ef-barra-divisora {
	border-right: #404040 2px solid;
	border-top: #d4d0c8 2px solid;
	border-left: #d4d0c8 2px solid;	
	border-bottom: #404040 2px solid;
	font-size: 11px;
	color: #000000;
	background-color: #c2c2c2;
	text-align: left;
	padding-left:10px;
}
.ef-numero {
	color: #231f20;
	background-color: #fffdf9;
	text-align: right
}

.ef-upload {

}
.ef-upload-desc {
	white-space: nowrap;
}
.ef-textarea {
}
.ef-combo {
}
.ef-checkbox {
}

/*************************
		EI - CUADRO
**************************/
.ei-cuadro-base {
}
.ei-cuadro-cuerpo {
	width: 100%;
}
.ei-cuadro-cabecera, .ei-cuadro-pie {
	 empty-cells: hide
}
.ei-cuadro-fila-sel {
	background-color: #e2e2e2
}
.ei-cuadro-pag {
	 text-align: center;
}
.ei-cuadro-orden {
	float: right;
}
.ei-cuadro-col-tit, .ei-ml-col-tit {
	vertical-align: bottom;
	color: #000000;
	text-align: center;
	font-weight: normal;
}
.ei-cuadro-col-tit {
	font-weight: bold;
}

/* Tabla de sumarizaciones ad-hoc */
.ei-cuadro-cc-tabla-sum {
	border: 1px #4f4c4d solid;
	padding: 5px;
	MARGIN: 5px;
	BORDER-COLLAPSE: collapse;
	empty-cells: hide
}

.ei-cuadro-cc-fondo {
	padding: 0px;
}

/*-- NIVEL 0 --*/
.ei-cuadro-cc-tit-nivel-0{
	border: 1px solid #231f20;
	background-color: #514a84;
	color: #ffffff;
	font-size: 14px;
	vertical-align: bottom;
	padding: 5px;
}
.ei-cuadro-cc-pie-nivel-0{
	background-color: #FFD87C;
	color: #231f20;
}
.ei-cuadro-cc-pie-cab-nivel-0{
	background-color: #514a84;
	color: #ffffff;
	MARGIN: 4px;
	padding: 3px;
	width: auto;
}
.ei-cuadro-cc-sum-nivel-0 {
	border: 1px solid #4f4c4d;
	background-color: #FFD87C;
	color: #231f20;
	margin: 0px;
	padding: 2px;
	text-align: right
}

/*-- NIVEL 1 --*/

.ei-cuadro-cc-tit-nivel-1{
	border-top: #000000 1px solid;
	border-left: #231f20 1px solid;
	border-bottom: #000000 1px solid;
	border-right: #231f20 1px solid;
	font-size: 12px;
	background-color: #999999;
	color: #ffffff;
	MARGIN: 0px;
	padding: 2px;
}
.ei-cuadro-cc-pie-nivel-1{
	COLOR: #231f20;
	BACKGROUND-COLOR: #FFFAAF;
}
.ei-cuadro-cc-pie-cab-nivel-1{
	background-color: #999999;
	color: #ffffff;
	MARGIN: 4px;
	padding: 3px;
	width: auto;
}

.ei-cuadro-cc-sum-nivel-1 {
	border: 1px solid #4f4c4d;
	color: #231f20;
	background-color: #FFFAAF;
	margin: 0px;
	text-align: right
}

/*-- NIVEL 2 --*/

.ei-cuadro-cc-tit-nivel-2{
	border-bottom: #000000  1px solid;
	border-top: #000000  1px solid;
	border-left: #231f20 1px solid;
	border-right: #231f20  1px solid;
	font-size: 11px;
	background-color: #d4d0c8;
	vertical-align: bottom;
	text-align: left;
	padding: 5px;
	color: #000000;
}

.ei-cuadro-cc-pie-nivel-2{
	color: #231f20;
	background-color: #ffffff;
}

.ei-cuadro-cc-pie-cab-nivel-2{
	background-color: #d4d0c8;
	color: #000000;
	margin: 4px;
	width: auto;
}

.ei-cuadro-cc-sum-nivel-2 {
	border: 1px solid #4f4c4d;
	color: #231f20;
	background-color: white;
	text-align: right;
	margin: 0px;
	padding: 2px;
}

/*************************
		CI
**************************/
.ci-base {
}
.ci-barra-sup {
	background-color: #514a84;
}
.ci-botonera {
	border: 0px solid #231f20;
	padding: 3px;
	color: #e9e8e8;
	background-color: #808080;
}
.ci-cuerpo {
	padding:2px;
	vertical-align: top;
	color: #000000;
	text-align: left;
	height: 100%;
}
.ci-pant-desc, .ci-wiz-enc {
	padding: 5px;
	font-size: 11px;
	color: #222222;
	background-color: #ffffff;
	text-align: left;
}
/*** Wizard ***/
.ci-wiz-titulo {
	font-weight: bold;
}
.ci-wiz-descr {
	padding-left: 15px
}
.ci-wiz-toc {
	height: 100%;
	vertical-align: top;
}
.ci-wiz-toc-lista {
	padding-right: 10px;
	padding-left: 0px;
	padding-bottom: 5px;
	padding-top: 15px;	
	margin-left: 30px;
	vertical-align: top;
	white-space: nowrap;
	text-align: left;
	height: 100%;
}
.ci-wiz-toc-pant-pasada, .ci-wiz-toc-pant-futuro {
	color: gray;
}
.ci-wiz-toc-pant-actual {
	font-weight: bold;
	color: #222222;
}


/*** Tabs verticales ***/
.ci-tabs-v-lista {
	vertical-align: top;
	height: 100%;
}
.ci-tabs-v-cont {
	border-right: 2px solid #808080;
	border-top: 1px solid #ffffff;	
	border-bottom:  2px #808080 solid;	
	padding: 6px 2px 6px 2px;
	margin: 0px;
	vertical-align: top;
	text-align: left;
}
.ci-tabs-v-solapa {
	border-right: 1px solid #ffffff;
	padding: 2px 10px 2px 2px;
	white-space: nowrap;
	text-align: left;
}
.ci-tabs-v-solapa-sel {
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #808080;	
	padding-right: 10px;
	padding-left: 3px;
	white-space: nowrap;
	text-align: left;
}
.ci-tabs-v-boton {
	padding: 3px 2px 12px 2px;
	line-height: 15px;
	white-space: nowrap;
	text-decoration: none;
}
.ci-tabs-v-boton:hover {
	text-decoration: underline
}
.ci-tabs-v-boton-sel {
	border: medium none;	
	padding: 2px;
	font-weight: bold;
	font-size: 11px;
	color: #000000;
	white-space: nowrap;
}
/*** Tabs horizontales ***/
.ci-tabs-h-lista {
	border-collapse: collapse;
	empty-cells: hide;
	margin-left: -1px;
	width: 100%;
}
.ci-tabs-h-solapa {
	border-right: 2px solid #808080;
	border-top: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	white-space: nowrap;
	text-align: center;
}
.ci-tabs-h-solapa-sel {
	border-right: 2px solid #808080;
	border-top: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-bottom: 2px solid #d4d0c8;
	white-space: nowrap;
	text-align: center
}
.ci-tabs-h-boton {
	border: medium none;
	padding: 3px;
	color: #000000;
	white-space: nowrap;
	background-color: #d7d4cf;
	font-size: 10px;
}
.ci-tabs-h-boton-sel {
	padding: 2px;
	border: medium none;
	font-weight: bold;
	font-size: 11px;
	color: #000000;
	background-color: #d4d0c8;	
	white-space: nowrap;
}

.ci-tabs-h-hueco {
	padding: 0;
	margin: 0;
	border-bottom: #ffffff 2px solid
}
.ci-tabs-h-cont, .ci-wiz-cont {
	height: 100%;
	width: 100%;
	border-right: #808080 2px solid;
	border-left: #ffffff 2px solid;	
	border-bottom: #808080 2px solid;	
	padding: 6px 2px 6px 6px;
	margin: 0px;
	vertical-align: top;
	text-align: left;
}

/*************************
	Funcion ei_arbol
**************************/
.ei-arbol-cuerpo {
	background-color: #EEEEEE;
	width: 100%;				/** BUG DEL IE en el mouseover */
}

.ei-arbol-rama {
	list-style-type: none;  
	margin-left: 20px;
	padding-left: 0px;
	white-space: nowrap;
	 vertical-align: middle;
}
.ei-arbol-raiz {
	list-style-type: none; 
	white-space: nowrap;
	margin:0px; 
	padding: 0px;
}
.ei-arbol-ver-prop {
	text-decoration: none;
}
.ei-arbol-ver-prop:hover {
	text-decoration: underline;
}
.ei-arbol-nodo {
	vertical-align: middle;
	clear: right;
	border-top: #bbbbbb 1px dotted;
}
.ei-arbol-nombre {
	 COLOR: #222222;
}
.ei-arbol-exp-contr {
	cursor: pointer;
	cursor: hand;	
}
.ei-arbol-barra-path {
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

/*************************
	Funcion ei_arbol
**************************/

.arbol-titulo {
	border: 1px solid #231f20;
	padding: 8px 4px 4px 10px;
	font-weight: bold;
	font-size: 12px;
	color: #e9e8e8;
	background-color: #231f20;
	text-align: left;
}
.arbol-cuerpo {
	border: 1px solid #231f20;
	padding: 1px;
	color: #e9e8e8;
	background-color: #4f4c4d;
	text-align: center;
}
.arbol-etiqueta1 {
	border-right: #231f20 4px solid;
	border-top: #000000 2px solid;	
	border-left: #231f20 1px solid;	
	border-bottom: #231f20 1px solid;	
	padding: 0px 5px 2px 5px;
	font-weight: bold;
	color: #231f20;
	background-color: #fffc10;
	text-align: left
}
.arbol-etiqueta2 {
	border-right: #231f20 4px solid;
	border-top: #000000 2px solid;
	border-left: #231f20 1px solid;	
	border-bottom: #231f20 1px solid;	
	padding: 0px 5px 2px 5px;
	font-weight: bold;
	color: #000000;
	background-color: #ffeb10;
	text-align: left;
}
.arbol-valor {
	border: 1px solid #231f20;
	padding: 0px 3px 0px 3px;
	color: #000000;
	background-color: #ffffff;
	text-align: left
}
.arbol-valor-array {
	border: 1px solid #231f20;
	padding: 1px 3px 0px 3px;
	color: #000000;
	background-color: #ff0000;
	text-align: left;
}
.arbol-valor-objeto {
	border: 1px solid #231f20;
	padding: 0px 3px 0px 3px;
	color: #000000;
	background-color: #ffffff;
	text-align: left
}
.arbol-valor-null {
	border: 1px solid #231f20;
	padding: 0px 3px 0px 3px;
	color: #ffffff;
	background-color: #555555;
	text-align: left;
}

.item-barra {
	border-top: #000000 1px solid;
	border-bottom: #000000 1px solid;	
	background-color: #514a84;
	text-align: right;
}
.item-barra-tit {
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	background-color: #514a84;
	text-align: left
}
.item-barra-ayuda {}

.barra-separador {
	border: 1px solid #4f4c4d;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	color: #231f20;
	background-color: #d3d2d2;
	text-align: left;
}
.zona-barra-sup {
	width: 100%;
}
.zona-barra-id {
	padding: 2px;
	border-bottom: #4f4c4d 1px solid;	
	font-weight: bold;
	font-size: 11px;
	color: #231f20;
	background-color: #7b7979;
	text-align: left;
}
.zona-barra-desc {
	border-left: #4f4c4d 1px solid;
	border-bottom: #4f4c4d 1px solid;	
	font-size: 15px;	
	color: #000000;
	text-align: center;
}


.menu-barra {
	color: #231f20;
	background-color: #d4d0c8;
	text-align: left;
}




/*************************
		Ventana Modal
**************************/

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
}

#overlay_contenido {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
}

.overlay-titulo {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;	
	font-weight: bold;
}
.overlay-botonera {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid gray;
	text-align: center;
}

/*************************
		MENSAJES
**************************/

.mensaje-info {
	border-right: #404040 2px solid;
	border-top: #808080 1px solid;
	border-left: #808080 1px solid;
	border-bottom: #404040 2px solid;
	border-collapse: collapse;	 
	padding: 0px;
	margin: 0px;
	empty-cells: show
}
.mensaje-titulo-info {
	padding: 5px 10px 3px 10px;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	background-color: #514a84;
	text-align: right;
}
.mensaje-subtitulo-info {
	padding: 0px 0px 5px 5px;
	font-size: 11px;
	color: #a7a5a6;
	background-color: #4f4c4d;
	text-align: left
}
.mensaje-cuerpo-info {
	padding: 15px 10px 15px 10px;
	font-size: 12px;
	color: #000000;
	background-color: #ffffff;
	text-align: left
}
.mensaje-error {
	border: 1px solid #231f20;
	border-collapse: collapse;	 
	padding: 0px;
	margin: 0px;	
	empty-cells: show
}
.mensaje-titulo-error {
	padding: 5px 10px 3px 10px;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	background-color: #ff411b;
	text-align: right;
}
.mensaje-subtitulo-error {
	padding: 0px 0px 5px 5px;	
	font-size: 11px;
	color: #ccccdd;
	background-color: #ff411b;
	text-align: left
}
.mensaje-cuerpo-error {
	padding: 15px 10px 15px 10px;
	font-size: 12px;
	color: #231f20;
	background-color: #ffffff;
	text-align: center
}

.tabla-0 {
	padding: 0;
	margin: 0;		
	BORDER-COLLAPSE: collapse;
	empty-cells: hide;
}

/*************************
	 Formateo de Columnas
**************************/

.col-num-p1, .col-num-p2, .col-num-p3, .col-num-p4, 
.col-tex-p1, .col-tex-p2, .col-tex-p3,
.col-cen-s1, .col-cen-s2 {
	border: 1px solid #4f4c4d;	
	padding: 2px;
	margin: 0px;
}

.col-num-p1, .col-num-p2, .col-num-p3 {
	text-align: right;
}
.col-num-p1 {
	color: #231f20;
	background-color: #ffffff;
}
.col-num-p2 {
	color: #aa0000;
	background-color: #e9e8e8;
}
.col-num-p3 {
	color: #231f20;
	background-color: #e9e8e8;
}
.col-num-p4 {
	color: #231f20;
	background-color: #4f4c4d;
}

.col-tex-p1, .col-tex-p2, .col-tex-p3 {
	text-align: left;
}
.col-tex-p1 {
	color: #000011;
	background-color: #ffffff;
}
.col-tex-p2 {
	font-weight: bold;
	color: #aa0000;
	background-color: #ffffff;
}
.col-tex-p3 {
	color: #231f20;
	background-color: #d3d2d2;
}

.col-cen-s1 {
	color: #231f20;
	text-align: center;
}
.col-cen-s2 {
	color: #231f20;
	background-color: #ffffff;
	text-align: center;
}

/*************************
		CALENDARIO
**************************/

.year, .month {
	border-style: outset;
	background-color: #e4e4e4;
	text-align: center;
}
.year {	border-width: 1px; }
.yearname {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.monthname {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background-color: #DADADA;
	color: #5D5D5D;
	border-style: outset;
	border-width:1px
}
.dayname td {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background-color: #514a84;
	color: #ffffff;
	border-style: outset;
	border-width:1px
}
.yearnavigation {
	font-size: 12px;
}
.datepicker {
	background-color: #e4e4e4;
}
.datepickerform {
	margin: 0px;
}
.monthnavigation {
	font-family: Tahoma, Arial, sans-serif;
}
.monthpicker, .yearpicker, .pickerbutton {
	font-size: 11px;
	background-color: #eeeeee;
}
.pickerbutton {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}
.nomonthday {
	height:20px;
	width:20px;
}
.nomonthdayevents {
	height:60px;
	width:60px;
}
.monthday, .weeknumber, .weeknoselec {
	text-align: center;
	font-size: 11px;
	color: #384955;
	height:20px;									
	width:20px;
}
.monthday {	
	background-color: #E4E4E4; 
	font-weight: bold;
}
.weeknumber {
	background-color: #f0f1ff; 
	font-weight: bold;
}
.weeknoselec {
	background-color: #f0f1ff; 
}
.monthdayevents, .weeknumberevents, .weeknoselecevents {
	text-align: center;
	font-size: 11px;
	color: #384955;
	height:60px;
	width:60px;
	vertical-align: top;
}
.weeknoselecevents { background-color: #f0f1ff; }
.monthdayevents { 
	background-color: #E4E4E4;
	font-weight: bold; 
}
.weeknumberevents {
	background-color: #f0f1ff;
	font-weight: bold;
}
.today, .todayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #514a84;
	color:#384955;
}
.today {
	height:20px;
	width:20px;
}
.todayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.selectedday, .selecteddayevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #514a84;
	background-color:#d9dbff;
}
.selectedday {	
	height:20px;
	width:20px;
}
.selecteddayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.sunday, .sundayevents {
	text-align: center;
	font-size: 11px;
	color: #667171;
}
.sunday {
	height:20px;
	width:20px;
}
.sundayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.sunday a, .saturday a {
	color: #667171;
}
.saturday, .saturdayevents {
	text-align: center;
	font-size: 11px;
	color: #667171;
}
.saturday{
	height:20px;
	width:20px;
}
.saturdayevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.event, .eventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
}
.event {
	height:20px;
	width:20px;
}
.eventevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.event a {
	background-color: #ffff99;
	color: red;
}
.selectedevent, .selectedeventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
}
.seelctedevent {
	height:20px;
	width:20px;
}
.selectedeventevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.selectedevent a {
	background-color: #ffff99;
	color: red;
}
.todayevent, .todayeventevents {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
}
.todayevent {
	height:20px;
	width:20px;
}
.todayeventevents {
	height:60px;
	width:60px;
	vertical-align: top;
}
.todayevent a {
	background-color: #ffff99;
	color: red;
}
.eventcontent {
	font-size: 9px;
	border-style: outset;
	border-width: 1px;
	width: 100%;
}
